
@{
    ViewBag.Title = "Welcome";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us" class="no-js">

<head>
    <meta charset="utf-8">
    <title>Business</title>
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Madeon08">

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- ============== Resource style ============== -->
    <link rel="stylesheet" href="~/Content/assets/css/main.css">

    <!-- Modernizr runs quickly on page load to detect features -->
    <script src="~/Content/assets/js/modernizr.js"></script>
</head>

<body>

    <div class="loading-part">
        <div class="loader-home">Loading...</div>
    </div>

    <div id="wrapper">
        <div class="lines-overlay"></div>
        <div id="main">
            <!-- Header -->
            <header id="header">
                <a href="/Home/Welcome"><img src="https://img.icons8.com/android/100/000000/back.png" style="width: 100px; height: 100px"></a>

                <br />
                <br />
                <br />

                <h1 style="color:black"><b>Select a Business of Interest</b></h1>

                <br />
                <br />

                @*<p id="text-alert" class="animated-quick"></p>*@

                <nav>
                    <ul>
                       <li>
                            <a href="/Home/Cuisine"><img src="~/Content/assets/img/foodSelectIcon.png" style="width: 125px; height: 125px; margin-right: 10px" /></a>
                            <h4>Food Business</h4>
                            @*<span class="notification opacity-0 animated-quick">1</span>*@
                        </li>
                       <li>
                            <a href="#" class="about icon-popup"><img src="~/Content/assets/img/hairSelectIcon.png" style="width: 125px; height: 125px; margin-left: 10px" /></a>
                            <h4>Hair Dressing</h4>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>

    <div class="global-content">
        <div class="slider-nav">
            @*<a href="#" class="prev-button"><i class="fa fa-hand-o-left"></i></a>*@
            <a href="#" class="close-content"><h2><i class="icon ion-close-round"></i></h2></a>
            @*<a href="#" class="next-button"><i class="fa fa-hand-o-right"></i></a>*@
        </div>

        <section class="content-about slide">
            <div class="content-in ">
                <div class="content-table">
                    <div class="content-cell">
                        <div class="content-inner">
                            <div class="container">

                                @*<img src="~/Content/assets/img/demeterLogo.jpg" alt="" class="logo" />*@

                                @*Hairdressing business*@
                                <h3>Please hover on the suburb to see the details. <br /> By clicking Recommendations tab you can find the best suburbs. </h3>
                                <br />
                                <div class='tableauPlaceholder' id='viz1554703976737' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ha&#47;hair_map_v4&#47;Hairdressing&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='hair_map_v4&#47;Hairdressing' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ha&#47;hair_map_v4&#47;Hairdressing&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content-message slide first">
            <div class="content-in ">
                <div class="content-table">
                    <div class="content-cell">
                        <div class="content-inner">
                            <div class="container">
                                <h1>We're Coming in</h1>
                                    <span class="border"></span>

                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country...</p>

                                <div id="countdown_dashboard">

                                    <!-- Days / if you need only 2 figures for the day, delete the first line <div class="digit">0</div> -->
                                    <div class="dash-glob">
                                        <div class="dash days_dash">
                                            <div class="digit">0</div>
                                            <div class="digit">0</div>
                                            <div class="digit">0</div>
                                            <sup>Days</sup>
                                        </div>

                                    </div>

                                </div> <!-- .countdown_dashboard -->

                                <form action="~/Content/assets/php/notify-me.php" id="notifyMe" method="POST" class="news-form">

                                    <div class="form-group">
                                        <div class="controls">
                                            <input type="text" id="mail-sub" name="email" placeholder="Write your email to be alerted" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write your email to be alerted'" class="form-control email srequiredField">
                                          <button class="btn btn-lg submit">Subscribe</button>
                                        </div>
                                    </div>
                                </form>

                                <div class="block-message">
                                    <!-- OPEN - Newsletter message -->
                                    <div class="message">
                                        <p class="notify-valid"></p>
                                    </div> <!-- CLOSE - Newsletter message -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <span class="copyright"> &copy; JUP1T0R 2019 - Made for strong women</span>
    </footer>

    <!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
    <!-- ********** Resources jQuery ********** -->
    <!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->
    <!-- * Libraries jQuery and Bootstrap - Be careful to not remove them * -->
    <script src="~/Content/assets/js/jquery.min.js"></script>

    <script src="~/Content/assets/js/bootstrap.min.js"></script>

    <!-- Countdown -->
    <script src="~/Content/assets/js/jquery.lwtCountdown-1.0.js"></script>

    <!-- Newsletter plugin -->
    <script src="~/Content/assets/js/notifyMe.js"></script>

    <!-- Contact form verification -->
    <script src="~/Content/assets/js/contact-me.js"></script>

    <!-- Swipebox plugin -->
    <script src="~/Content/assets/js/jquery.swipebox.js"></script>

    <!-- Background plugin -->
    <script src="~/Content/assets/js/vegas.js"></script>

    <!-- Background settings -->
    <script>

        $('body').vegas({
            slides: [
                { src: '/Content/assets/img/selectFoodBack.jpg' },
                { src: '/Content/assets/img/selectHairBack.jpg' }
            ],

            // Delay beetween slides in milliseconds.
            delay: 5000,

            // Chose your transition effect (See the documentation provided in your download pack)
            transition: 'fade'
        });

    </script>

    <!-- Main JS -->
    <script src="~/Content/assets/js/main.js"></script>

    <!-- Hairdressing Map -->
    <script type='text/javascript'>var divElement = document.getElementById('viz1554703976737'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1080px'; vizElement.style.height = '917px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>


</body>
</html>