
@{
    ViewBag.Title = "Business Selection";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Styles.Render("~/Content/Site.css");

}

<style>

  .column {
    width: 100%;

  }

    .image-wrapper {
        position: relative;
        width: 250px;
    }

        .image-wrapper p {
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            border: 1px solid #FFF;
            width: 218px;
            color: #FFF;
            margin: 5px;
        }

    #table {
        padding: 6px;
        background-color: black;
        border-radius: 40px;
    }

    #hair {
        padding: 6px;
        background-color: white;
        border-radius: 40px;
    }

    #prev {
        padding: 6px;
        background-color: black;
        border-radius: 40px;
        width: 15%;

    }

        #prev:hover, #next:hover {
            background: #D4AF37;
        }

</style>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />


<div class="container" style="margin-top:100px">

    <div class="row line">
        @*<h4 class="col-xs-4 stepText2"><b>Get Started</b></h4>*@
        <h4 class="col-xs-4 stepText2"></h4>
        <h4 class="col-xs-4 stepText2" style="font-size:x-large"><b>Business Selection</b></h4>
        <h4 class="col-xs-4 stepText2"></h4>
    </div>

    <div class="row">
        @*<a href="/Home/Welcome"><div class="col-xs-4"><div class="step step2" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>*@
        <a href="/Home/BusinessSelection"><div class="col-xs-12"><div class="step step2 active" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>
        @*<div class="col-xs-4"><div class="step step2"></div></div>*@
</div>
</div>
<br />
<h1 style="color:black; text-align:center"><b>Select a Business of Interest</b></h1>
<br />
<br />

@*Business Selection Icons*@
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
             <a href="/Home/CuisineSelection"><div><img id="table" src="~/Content/assets/img/foodSelectIcon.png" class="img-responsive" style="width: 100%; height: 100%; margin-left:inherit" onmouseover="$(this).css('background-color', '#ddc061')" onmouseout="$(this).css('background-color', 'black')"/></div></a>
             <h4 style="text-align:center; font-weight:bold">Restaurant Business</h4>
        </div>

        <div class="col-xs-4">
            <a href="/Home/PreferenceHD"><div><img id="hair" src="~/Content/assets/img/hairSelectIcon.png" class="img-responsive" style="width: 100%; height: 100%; margin-right: inherit" onmouseover="$(this).css('background-color', '#ddc061')" onmouseout="$(this).css('background-color', 'white')"/></div></a>
            <h4 style="text-align:center; font-weight:bold">Hairdressing Business</h4>
        </div>
    </div>
</div>

<br />

<div style="text-align:center">
    <a href="/Home/Welcome"><div id="prev">BACK TO HOME</div></a>
    @*<div id="nextDis" class="disabled">NEXT</div>*@
</div>

    <!-- Progress Bar -->
    <script>
        $('document').ready(function () {
            var count = 0;
            $('.step').each(function () {
                count++;
            });

            var i = 0;
            //Next
            $('#next').on('click', function () {
                if (count > i + 1) {
                    i++;
                    $('.active').removeClass('active');
                    $('.step').eq(i).addClass('active');
                }
            });
            //Back
            $('#prev').on('click', function () {
                if (i > 0) {
                    i--;
                    $('.active').removeClass('active');
                    $('.step').eq(i).addClass('active');
                }
            });
        });
    </script>


    <!-- Modernizr runs quickly on page load to detect features -->
    <script src="~/Content/assets/js/modernizr.js"></script>
