
@{
    ViewBag.Title = "Compare Lebanese Cuisine Suburbs";
    Layout = "~/Views/Shared/_LayoutDemeter.cshtml";
    Styles.Render("~/Content/Site.css");
}

<style>

    .column {
        width: 100%;
    }

    .image-wrapper {
        position: relative;
        width: 250px;
    }

        .image-wrapper p {
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            border: 1px solid #FFF;
            width: 218px;
            color: #FFF;
            margin: 5px;
        }

    #tr {
        border: 2px solid #021a40;
        padding: 4px;
        background-color: black;
        border-radius: 50px
    }

    #prev, #next {
        padding: 6px;
        background-color: black;
        border-radius: 40px;
        width: 15%;
    }

        #prev:hover, #next:hover {
            background: #D4AF37;
        }
</style>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

<br />
<div class="container">
    <br />
    <h3 class="text-center"><b>@ViewBag.pageSubject</b></h3>

    <div class="row line">
        <h4 style="font-size:1.5rem" class="col-xs-3 stepText2"><b>Business Selection</b></h4>
        <h4 style="font-size:1.5rem" class="col-xs-3 stepText2"><b>Cuisine Selection</b></h4>
        <h4 style="font-size:1.5rem" class="col-xs-3 stepText2"><b>Preference Lebanese Cuisine</b></h4>
        <h4 style="font-size:1.5rem" class="col-xs-3 stepText2"><b>Compare Suburbs</b></h4>
    </div>

    <div class="row">
        <a href="/Home/BusinessSelection"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>
        <a href="/Home/CuisineSelection"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>
        <a href="/Home/PreferenceLB"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></></div></a>
        <a href="/Home/CompareLB"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></></div></a>
    </div>
</div>

<br />

<p class="text-center" style="margin: 1% 1%; font-size: small">
    To compare two suburbs of your choice in Greater Melbourne based on the Market Size and the supporting facilities, please read the instructions next to the Map.
</p>


<div class="col-xs-12" style="margin-bottom: 0%">
    <div class="map-responsive embed-responsive embed-responsive-16by9">
        <iframe class="col-xs-12 embed-responsive-item" style="width:102%; height:810px; margin-left: -1%" src="https://tongguoshuanlou.shinyapps.io/Search_and_Comparison_LB/" allowfullscreen> </iframe>
    </div>
</div>
<div style="text-align:center">
    <a href="/Home/PreferenceLB"><div id="prev">BACK TO PREFERENCES</div></a>
</div>
<br />
<br />
<!-- Progress Bar -->
<script>
    $('document').ready(function () {
        var count = 0;
        $('.step').each(function () {
            count++;

        });

        //Back
        $('#prev').on('click', function () {
            if (i > 0) {
                i--;
                $('.active').removeClass('active');
                $('.step').eq(i).addClass('active');
            }
        });
    });
</script>

