
@{
    ViewBag.Title = "Compare Hairdressing Business Suburbs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Styles.Render("~/Content/Site.css");
}

<style>

    .column {
        width: 100%;
    }

    .image-wrapper {
        position: relative;
        width: 250px;
    }

        .image-wrapper p {
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            border: 1px solid #FFF;
            width: 218px;
            color: #FFF;
            margin: 5px;
        }

    #tr {
        border: 2px solid #021a40;
        padding: 4px;
        background-color: black;
        border-radius: 50px
    }

    #prev, #next {
        padding: 6px;
        background-color: black;
        border-radius: 40px;
        width: 15%;
    }

        #prev:hover, #next:hover {
            background: #D4AF37;
        }
</style>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

<br />
<div class="container">
    <br />
    <h3 class="text-center"><b>@ViewBag.pageSubject</b></h3>

    <div class="row line">
        <h4 style="font-size:1.5rem" class="col-xs-4 stepText2"><b>Business Selection</b></h4>
        <h4 style="font-size:1.5rem" class="col-xs-4 stepText2"><b>Preference Hairdressing Business</b></h4>
        <h4 style="font-size:1.5rem" class="col-xs-4 stepText2"><b>Compare Suburbs</b></h4>
    </div>

    <div class="row">
        <a href="/Home/BusinessSelection"><div class="col-xs-4"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>
        <a href="/Home/PreferenceHD"><div class="col-xs-4"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></></div></a>
        <a href="/Home/CompareHD"><div class="col-xs-4"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></></div></a>
    </div>
</div>

<br />

<p class="text-center" style="margin: 1% 1%; font-size: small">
    To compare two suburbs of your choice in Greater Melbourne based on the Market Size and the supporting facilities, please read the instructions next to the Map.
</p>


<div class="col-xs-12">
    <div class="map-responsive embed-responsive embed-responsive-16by9">
        <iframe class="col-xs-12 embed-responsive-item" style="width:102%; height:810px; margin-left: -1%" src="https://tongguoshuanlou.shinyapps.io/Search_and_Comparison_Hair/" allowfullscreen> </iframe>
        <div style="text-align:center">
            <a href="/Home/PreferenceHD"><div id="prev">BACK TO PREFERENCES</div></a>
            @*<div id="nextDis" class="disabled">NEXT</div>*@
        </div>
    </div>
    <br />
    <br />
</div>

<!-- Progress Bar -->
<script>
    $('document').ready(function () {
        var count = 0;
        $('.step').each(function () {
            count++;

        });

        //var i = 0;
        ////Next
        //$('#next').on('click', function () {
        //    if (count > i + 1) {
        //        i++;
        //        $('.active').removeClass('active');
        //        $('.step').eq(i).addClass('active');
        //    }
        //});

        //Back
        $('#prev').on('click', function () {
            if (i > 0) {
                i--;
                $('.active').removeClass('active');
                $('.step').eq(i).addClass('active');
            }
        });
    });
</script>

<!-- Turkish Cuisine -->
@*<script type='text/javascript'>var divElement = document.getElementById('viz1554703843265'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1080px'; vizElement.style.height = '917px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>*@




