
@{
    ViewBag.Title = "Cuisine";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us" class="no-js">

<head>
    <meta charset="utf-8">
    <title>Cuisine</title>
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Madeon08">

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- ============== Resource style ============== -->
    <link rel="stylesheet" href="~/Content/assets/css/main.css">

    <!-- Modernizr runs quickly on page load to detect features -->
    <script src="~/Content/assets/js/modernizr.js"></script>
</head>

<body>

    <div class="loading-part">
        <div class="loader-home">Loading...</div>
    </div>

    <div id="wrapper">

        <div class="lines-overlay"></div>

        <div id="main">

            @*<ul class="social-icons">
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>*@

            <!-- Header -->
            <header id="header">

                @*<a href="#"><img src="https://img.icons8.com/ios/50/000000/double-left-filled.png" style="width: 100px; height: 100px"></a>*@
                <a href="/Home/Business"><img src="https://img.icons8.com/android/100/000000/back.png" style="width: 100px; height: 100px"></a>

                <br />
                <br />
                <br />

                <h1>Select a cuisine</h1>

                <br />

                @*<p id="text-alert" class="animated-quick"></p>*@

                <nav>
                    <ul>
                        <li>
                            <a href="#" class="messages icon-popup icon"><img src="~/Content/assets/img/turkish.png" style="width: 100px; height: 100px;" /></a>
                            <br />
                            <br />
                            @*<span class="notification opacity-0 animated-quick">1</span>*@
                            <h4 class="name">Turkish</h4>
                        </li>

                        <li>
                            <a href="#" class="about icon-popup icon"><img src="~/Content/assets/img/lebanese.png" style="width: 100px; height: 100px;" /></a>
                            <br />
                            <br />
                            <h4 class="name">Lebanese</h4>
                        </li>

                        <li>
                            <a href="#" class="photos icon-popup icon"><img src="~/Content/assets/img/middleEastern.png" style="width: 100px; height: 100px;" /></a>
                            <br />
                            <br />
                            <h4 class="name">Middle East</h4>
                        </li>

                        @*<li>
                            <a href="#" class="photos icon-popup icon ion-images"></a>
                            <p class="name">Somalian</p>
                        </li>*@
                    </ul>
                </nav>
            </header>

        </div>

    </div>

    <div class="global-content">

        <div class="slider-nav">
            @*<a href="#" class="prev-button"><i class="fa fa-hand-o-left"></i></a>*@
            <a href="#" class="close-content"><i class="icon ion-close-round"></i></a>
            @*<a href="#" class="next-button"><i class="fa fa-hand-o-right"></i></a>*@
        </div>

        <section class="content-message slide first">

            <div class="content-in ">
                <div class="content-table">
                    <div class="content-cell">
                        <div class="content-inner">

                            <div class="container">


                                @*<h1>We're Coming in</h1>*@

                                <div class='tableauPlaceholder' id='viz1554546376258' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Tu&#47;Turkish_15545463627990&#47;tkstory&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Turkish_15545463627990&#47;tkstory' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Tu&#47;Turkish_15545463627990&#47;tkstory&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
                                <script type='text/javascript'>var divElement = document.getElementById('viz1554546376258'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1080px'; vizElement.style.height = '917px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

                                <span class="border"></span>

                                @*<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country...</p>*@

                                <div id="countdown_dashboard">

                                    <!-- Days / if you need only 2 figures for the day, delete the first line <div class="digit">0</div> -->
                                    @*<div class="dash-glob">
                                        <div class="dash days_dash">
                                            <div class="digit">0</div>
                                            <div class="digit">0</div>
                                            <div class="digit">0</div>
                                            <sup>Days</sup>
                                        </div>

                                    </div>*@

                                </div> <!-- .countdown_dashboard -->

                                @*<form action="~/Content/assets/php/notify-me.php" id="notifyMe" method="POST" class="news-form">

                                    <div class="form-group">
                                        <div class="controls">

                                            <input type="text" id="mail-sub" name="email" placeholder="Write your email to be alerted" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write your email to be alerted'" class="form-control email srequiredField">

                                            <button class="btn btn-lg submit">Subscribe</button>

                                        </div>
                                    </div>

                                </form>*@

                                @*<div class="block-message">
                                    <!-- OPEN - Newsletter message -->
                                    <div class="message">

                                        <p class="notify-valid"></p>

                                    </div> <!-- CLOSE - Newsletter message -->
                                </div>*@

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="content-about slide">

            <div class="content-in ">
                <div class="content-table">
                    <div class="content-cell">
                        <div class="content-inner">

                            <div class="container">

                                @*<img src="~/Content/assets/logo.png" alt="" class="logo" />

                                <h1>About Us</h1>*@

                                <div class='tableauPlaceholder' id='viz1554546486873' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Le&#47;Lebanese&#47;lbstory&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='views&#47;Lebanese&#47;lbstory?:embed=y&amp;:display_count=y&amp;publish=yes' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Le&#47;Lebanese&#47;lbstory&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
                                <script type='text/javascript'>var divElement = document.getElementById('viz1554546486873'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1080px'; vizElement.style.height = '917px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

                                <span class="border"></span>

                                @*<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country...</p>*@

                                @*<div class="row contact-info">

                                    <div class="col-xs-12 col-sm-4 col-lg-4 contact-method">
                                        <i class="icon ion-ios-location-outline"></i>
                                        <p>
                                            <a href="https://goo.gl/maps/2eF6Z" target="_blank">
                                                66 Grand Central<br>New York, USA
                                            </a>
                                        </p>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-lg-4 contact-method">
                                        <i class="icon ion-ios-telephone-outline"></i>
                                        <i class="icon ion-social-skype"></i>
                                        <p>
                                            <a href="tel:+661254611">(+33) 66-1254-611</a><br>
                                            <a href="tel:+665628146">(+37) 66-5628-146</a>
                                        </p>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-lg-4 contact-method">
                                        <i class="icon ion-ios-email-outline"></i>
                                        <p>
                                            <a href="mailto:your-email@good.com">pom@example.com</a><br>
                                            <a href="mailto:your-email@good.com">example@pom.com</a>
                                        </p>
                                    </div>

                                </div>

                                <!-- Contact form -->
                                <form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-lg-6">

                                            <!-- Full name -->
                                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                                <div class="form-group">
                                                    <input type="text" id="name" class="form form-control" placeholder="Write your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write your name'" name="name" data-name="Name" required>
                                                </div>
                                            </div>

                                            <!-- E-mail -->
                                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                                <div class="form-group">
                                                    <input type="email" id="email" class="form form-control" placeholder="Write your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write your email address'" name="email-address" data-name="Email Address" required>
                                                </div>
                                            </div>

                                            <!-- Subject -->
                                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                                <div class="form-group">
                                                    <input type="text" id="subject" class="form form-control" placeholder="Write the subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write the subject'" name="subject" data-name="Subject">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-lg-6">

                                            <!-- Message -->
                                            <div class="col-xs-12 col-sm-12 col-lg-12 no-padding">
                                                <div class="form-group">
                                                    <textarea id="text-area" class="form textarea form-control" placeholder="Your message here... 20 characters Min." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your message here... 20 characters Min.'" name="message" data-name="Text Area" required></textarea>
                                                </div>
                                            </div>

                                            <!-- Button submit -->
                                            <button type="submit" id="valid-form" class="btn btn-color">Send my Message</button>

                                        </div>
                                    </div>

                                </form>
                                <!-- /. Contact form -->

                                <div id="answer"></div>*@

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="content-photos slide last">

            <div class="content-in ">
                <div class="content-table">
                    <div class="content-cell">
                        <div class="content-inner">

                            <div class="container">

                                @*<h1>Photos</h1>*@

                                <div class='tableauPlaceholder' id='viz1554546606899' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Mi&#47;MiddleEast_15545466233480&#47;mestory&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='MiddleEast_15545466233480&#47;mestory' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Mi&#47;MiddleEast_15545466233480&#47;mestory&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
                                <script type='text/javascript'>var divElement = document.getElementById('viz1554546606899'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1080px'; vizElement.style.height = '917px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

                                <span class="border"></span>

                                @*<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country...</p>*@

                                @*<div class="photo-collection row">

                                    <div class="col-xs-12 col-sm-4 col-lg-4 photo-item">
                                        <a href="~/Content/assets/img/pict1.jpg" title="My Caption 1" class="swipebox">
                                            <figure>
                                                <img src="~/Content/assets/img/pict1-thumb.jpg" alt="" class="img-responsive" />
                                            </figure>
                                            <span class="text-open"></span>
                                        </a>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-lg-4 photo-item">
                                        <a href="~/Content/assets/img/pict2.jpg" title="My Caption 2" class="swipebox">
                                            <figure>
                                                <img src="~/Content/assets/img/pict2-thumb.jpg" alt="" class="img-responsive" />
                                            </figure>
                                            <span class="text-open"></span>
                                        </a>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-lg-4 photo-item">
                                        <a href="~/Content/assets/img/pict3.jpg" title="My Caption 3" class="swipebox">
                                            <figure>
                                                <img src="~/Content/assets/img/pict3-thumb.jpg" alt="" class="img-responsive" />
                                            </figure>
                                            <span class="text-open"></span>
                                        </a>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-lg-4 photo-item 4">
                                        <a href="~/Content/assets/img/pict4.jpg" title="My Caption" class="swipebox">
                                            <figure>
                                                <img src="~/Content/assets/img/pict4-thumb.jpg" alt="" class="img-responsive" />
                                            </figure>
                                            <span class="text-open"></span>
                                        </a>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-lg-4 photo-item 5">
                                        <a href="~/Content/assets/img/pict5.jpg" title="My Caption" class="swipebox">
                                            <figure>
                                                <img src="~/Content/assets/img/pict5-thumb.jpg" alt="" class="img-responsive" />
                                            </figure>
                                            <span class="text-open"></span>
                                        </a>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-lg-4 photo-item 6">
                                        <a href="~/Content/assets/img/pict6.jpg" title="My Caption" class="swipebox">
                                            <figure>
                                                <img src="~/Content/assets/img/pict6-thumb.jpg" alt="" class="img-responsive" />
                                            </figure>
                                            <span class="text-open"></span>
                                        </a>
                                    </div>

                                </div>*@

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <span class="copyright"> &copy; JUP1T0R 2019 - Made for strong women</span>
    </footer>

    <!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
    <!-- ********** Resources jQuery ********** -->
    <!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->
    <!-- * Libraries jQuery and Bootstrap - Be careful to not remove them * -->
    <script src="~/Content/assets/js/jquery.min.js"></script>

    <script src="~/Content/assets/js/bootstrap.min.js"></script>

    <!-- Countdown -->
    <script src="~/Content/assets/js/jquery.lwtCountdown-1.0.js"></script>

    <!-- Newsletter plugin -->
    <script src="~/Content/assets/js/notifyMe.js"></script>

    <!-- Contact form verification -->
    <script src="~/Content/assets/js/contact-me.js"></script>

    <!-- Swipebox plugin -->
    <script src="~/Content/assets/js/jquery.swipebox.js"></script>

    <!-- Background plugin -->
    <script src="~/Content/assets/js/vegas.js"></script>

    <!-- Background settings -->
    <script>

        $('body').vegas({
            slides: [
                { src: '/Content/assets/img/turkishBackground.jpg' },
                { src: '/Content/assets/img/lebaneseBackground.jpg' },
                { src: '/Content/assets/img/middleEasternBackground.jpg' }
            ],

            // Delay beetween slides in milliseconds.
            delay: 5000,

            // Chose your transition effect (See the documentation provided in your download pack)
            transition: 'fade'
        });

    </script>

    <!-- Main JS -->
    <script src="~/Content/assets/js/cuisine.js"></script>

</body>
</html>