
@{
    ViewBag.Title = "Cuisine";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us" class="no-js">

<head>
    <meta charset="utf-8">
    <title>Cuisine</title>
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Madeon08">

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- ============== Resource style ============== -->
    <link rel="stylesheet" href="~/Content/assets/css/main.css">

    <!-- Modernizr runs quickly on page load to detect features -->
    <script src="~/Content/assets/js/modernizr.js"></script>
</head>

<body>

    <div class="loading-part">
        <div class="loader-home">Loading...</div>
    </div>

    <div id="wrapper">

        <div class="lines-overlay"></div>
        <div id="main">
            <!-- Header -->
            <header id="header">
                <a href="/Home/Welcome"><img src="https://img.icons8.com/ios/50/000000/double-left-filled.png" style="width: 100px; height: 100px"></a>
                <a href="/Home/Business"><img src="https://img.icons8.com/android/100/000000/back.png" style="width: 100px; height: 100px"></a>
                <br />
                <br />
                <br />
                <h1>Select a Cuisine</h1>
                <br />
                @*<p id="text-alert" class="animated-quick"></p>*@
                <nav>
                    <ul>
                        <li>
                            <a href="#" class="messages icon-popup icon"><img src="~/Content/assets/img/turkish.png" style="width: 100px; height: 100px;" /></a>
                            <br />
                            <br />
                            @*<span class="notification opacity-0 animated-quick">1</span>*@
                            <h4 class="name">Turkish</h4>
                        </li>

                        <li>
                            <a href="#" class="about icon-popup icon"><img src="~/Content/assets/img/lebanese.png" style="width: 100px; height: 100px;" /></a>
                            <br />
                            <br />
                            <h4 class="name">Lebanese</h4>
                        </li>

                        <li>
                            <a href="#" class="photos icon-popup icon"><img src="~/Content/assets/img/middleEastern.png" style="width: 100px; height: 100px;" /></a>
                            <br />
                            <br />
                            <h4 class="name">Middle East</h4>
                        </li>
                    </ul>
                </nav>
            </header>

        </div>

    </div>

    <div class="global-content">

        <div class="slider-nav">
            @*<a href="#" class="prev-button"><i class="fa fa-hand-o-left"></i></a>*@
            <a href="#" class="close-content"><h2><i class="icon ion-close-round"></i></h2></a>
            @*<a href="#" class="next-button"><i class="fa fa-hand-o-right"></i></a>*@
        </div>

        <section class="content-message slide first">
            <div class="content-in ">
                <div class="content-table">
                    <div class="content-cell">
                        <div class="content-inner">

                            <div class="container">
                                <p>Please hover on the suburb to see the details. <br /> By clicking Recommendations tab you can find the best suburbs. </p>
                                <br />

                                @*Turkish cuisine*@
                                <div class='tableauPlaceholder' id='viz1554703843265' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Tu&#47;Turkish_15545463627990&#47;tkstory&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Turkish_15545463627990&#47;tkstory' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Tu&#47;Turkish_15545463627990&#47;tkstory&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>

                                <span class="border"></span>

                                <div id="countdown_dashboard">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content-about slide">
            <div class="content-in ">
                <div class="content-table">
                    <div class="content-cell">
                        <div class="content-inner">

                            <div class="container">

                                @*<img src="~/Content/assets/logo.png" alt="" class="logo" />*@

                                @*Lebanese Cuisine*@

                                <p>Please hover on the suburb to see the details. <br /> By clicking Recommendations tab you can find the best suburbs. </p>
                                <br />
                                <div class='tableauPlaceholder' id='viz1554703938099' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Le&#47;Lebanese&#47;lbstory&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Lebanese&#47;lbstory' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Le&#47;Lebanese&#47;lbstory&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
                                <span class="border"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content-photos slide last">
            <div class="content-in ">
                <div class="content-table">
                    <div class="content-cell">
                        <div class="content-inner">

                            <div class="container">

                                @*Middle Eastern Cuisine*@

                                <p>Please hover on the suburb to see the details. <br /> By clicking Recommendations tab you can find the best suburbs. </p>
                                <br />
                                <div class='tableauPlaceholder' id='viz1554704048962' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Mi&#47;MiddleEast_15545466233480&#47;mestory&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='views&#47;MiddleEast_15545466233480&#47;mestory?:embed=y&amp;:display_count=y&amp;publish=yes' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Mi&#47;MiddleEast_15545466233480&#47;mestory&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
                                <span class="border"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <span class="copyright"> &copy; JUP1T0R 2019 - Made for strong women</span>
    </footer>

    <!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
    <!-- ********** Resources jQuery ********** -->
    <!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->
    <!-- * Libraries jQuery and Bootstrap - Be careful to not remove them * -->
    <script src="~/Content/assets/js/jquery.min.js"></script>

    <script src="~/Content/assets/js/bootstrap.min.js"></script>

    <!-- Countdown -->
    <script src="~/Content/assets/js/jquery.lwtCountdown-1.0.js"></script>

    <!-- Newsletter plugin -->
    <script src="~/Content/assets/js/notifyMe.js"></script>

    <!-- Contact form verification -->
    <script src="~/Content/assets/js/contact-me.js"></script>

    <!-- Swipebox plugin -->
    <script src="~/Content/assets/js/jquery.swipebox.js"></script>

    <!-- Background plugin -->
    <script src="~/Content/assets/js/vegas.js"></script>

    <!-- Background settings -->
    <script>

        $('body').vegas({
            slides: [
                { src: '/Content/assets/img/turkishBackground.jpg' },
                { src: '/Content/assets/img/lebaneseBackground.jpg' },
                { src: '/Content/assets/img/middleEasternBackground.jpg' }
            ],

            // Delay beetween slides in milliseconds.
            delay: 5000,

            // Chose your transition effect (See the documentation provided in your download pack)
            transition: 'fade'
        });

    </script>

    <!-- Main JS -->
    <script src="~/Content/assets/js/cuisine.js"></script>

    <!-- Turkish Cuisine -->
    <script type='text/javascript'>var divElement = document.getElementById('viz1554703843265'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1080px'; vizElement.style.height = '917px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

    <!-- Lebanese Cuisine -->
    <script type='text/javascript'>var divElement = document.getElementById('viz1554703938099'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1080px'; vizElement.style.height = '917px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

    <!-- Middle Eastern Cuisine -->
    <script type='text/javascript'>var divElement = document.getElementById('viz1554704048962'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1080px'; vizElement.style.height = '917px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>


</body>
</html>