
@{
    ViewBag.Title = "Cuisine Selection";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Styles.Render("~/Content/Site.css");

}

<style>

    .column {
        width: 100%;
    }

    .image-wrapper {
        position: relative;
        width: 250px;
    }

        .image-wrapper p {
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            border: 1px solid #FFF;
            width: 218px;
            color: #FFF;
            margin: 5px;
        }

    #tr {
        border: 0.1px solid #021a40;
        padding: 4px;
        background-color: black;
        border-radius: 50px
    }

    #prev {
        padding: 6px;
        background-color: black;
        border-radius: 40px;
        width: 20%;
    }

        #prev:hover {
            background: #D4AF37;
        }
</style>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />


<div class="container" style="margin-top:5%">

    <div class="row line">
        <h4 class="col-xs-1 stepText2"></h4>
        <h4 style="font-size:1.7rem; margin-top:2%" class="col-xs-5 stepText2"><b>Business Selection</b></h4>
        <h4 style="font-size:1.7rem; margin-top:2%" class="col-xs-3 stepText2"><b>Cuisine Selection</b></h4>
        <h4 class="col-xs-2 stepText2"></h4>
    </div>

    <div class="row">
        <a href="/Home/BusinessSelection"><div class="col-xs-7"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>
        <a href="/Home/CuisineSelection"><div class="col-xs-1"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>
    </div>
</div>

<br />
<h3 style="color:black; text-align:center; margin-bottom: 1%; margin-top: 2.1%"><b>Select a Cuisine of Interest</b></h3>
<br />

@*Business Selection Icons*@
<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <a href="/Home/PreferenceTK"><div><img id="tr" src="~/Content/assets/img/turkish.png" class="img-responsive" style="width: 76%; height: 70%; margin-left:40px" onmouseover="$(this).css('background-color', '#ddc061')" onmouseout="$(this).css('background-color', 'black')" /></div></a>
            <h4 style="margin-left:27%; font-weight:bold">Turkish Cuisine</h4>
        </div>


        <div class="col-xs-4">
            <a href="/Home//PreferenceME"><div><img id="tr" src="~/Content/assets/img/middleEastern.png" class="img-responsive" style="width: 75%; height: 70%; margin-left: 30px" onmouseover="$(this).css('background-color', '#ddc061')" onmouseout="$(this).css('background-color', 'black')" /></div></a>
            <h4 style="margin-left:17%; font-weight:bold">Middle Eastern Cuisine</h4>
        </div>


        <div class="col-xs-4">
            <a href="/Home//PreferenceLB"><div><img id="tr" src="~/Content/assets/img/lebaneseCuisine.png" class="img-responsive" style="width:78%; height: 90%; margin:auto" onmouseover="$(this).css('background-color', '#ddc061')" onmouseout="$(this).css('background-color', 'black')" /></div></a>
            <h4 style="text-align:center; font-weight:bold">Lebanese Cuisine</h4>
        </div>

    </div>
</div>

<br />
<br />
<!-- Back Button -->
<div style="text-align:center;">
    <a href="/Home/BusinessSelection"><div id="prev">BACK TO BUSINESS SELECTION</div></a>
</div>

<!-- Progress Bar -->
<script>
    $('document').ready(function () {
        var count = 0;
        $('.step').each(function () {
            count++;

        });

        var i = 0;
        //Next
        $('#next').on('click', function () {
            if (count > i + 1) {
                i++;
                $('.active').removeClass('active');
                $('.step').eq(i).addClass('active');
            }
        });
        //Back
        $('#prev').on('click', function () {
            if (i > 0) {
                i--;
                $('.active').removeClass('active');
                $('.step').eq(i).addClass('active');
            }
        });
    });

    $(".img-responsive").mouseover(function () {
        $(this).css("background-color", "blue");
    });
</script>


<!-- Modernizr runs quickly on page load to detect features -->
<script src="~/Content/assets/js/modernizr.js"></script>


