
    @{
        ViewBag.Title = "Welcome to Demeter";
        Layout = null;
    }


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="~/Content/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/assets/img/favicon.ico" type="image/x-icon">

    <title>Welcome to Demeter</title>

    <!-- Font Awesome Icons -->
    <link href="~/Content/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="~/Content/assets/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="~/Content/assets/css/creative.min.css" rel="stylesheet">

    <!-- Font-family google font api -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat">

    <style>
        a, p, h1, h2, h3, h4, h5, h6, div, header, body, button, ul, li {
            font-family: 'Montserrat', light;
            font-size: 1.5rem;
        }
        #landingStart {
            background-color: #16224D;
            font-family: Montserrat, light;
        }

        #slogan {
            font-family: Montserrat, Bold;
        }

        hr.new4 {
            border: 1.8px solid black;
            border-radius: 20%;
            width: 5%
        }

        .centered {
            position: relative; /* or absolute */
            margin-top: 1%;
            left: 45%;
        }

    </style>

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 col-xs-12" id="mainNav" style="width: 100%">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" style="font-size:1.1rem; font-family: Montserrat, SemiBold; font-weight: bolder;
             color: #16224D"onmouseover="$(this).css('color', '#D4AF37')" onmouseout="$(this).css('color', '#16224D')"        
             href="/Home/LandingPage">Demeter</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a id="burak" class="nav-link js-scroll-trigger" style="font-size:1rem; font-family: Montserrat, light; 
                           color: #16224D"onmouseover="$(this).css('color', '#D4AF37')" onmouseout="$(this).css('color', '#16224D')"
                           href="/Home/BusinessSelection">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="font-size:1rem; font-family: Montserrat, light;
                        color: #16224D"onmouseover="$(this).css('color', '#D4AF37')" onmouseout="$(this).css('color', '#16224D')"
   
                           href="/Home/CuisineSelection">Food Industry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="font-size:1rem; font-family: Montserrat, light;
                        color: #16224D"onmouseover="$(this).css('color', '#D4AF37')" onmouseout="$(this).css('color', '#16224D')"

                           href="/Home/PreferenceHD">Hairdressing Industry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="font-size:1rem; font-family: Montserrat, light;
                        color: #16224D"onmouseover="$(this).css('color', '#D4AF37')" onmouseout="$(this).css('color', '#16224D')"
                        href="#">Supporting Information</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Masthead -->
    <header class="thead-light">
        <div class="container h-100" style="margin: auto; margin-top: 10%; margin-bottom: 8%">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10">

                    <img src="~/Content/assets/img/demeter_logo_latest.png" class="logo" id="logoDemeter" style="position:center; height:15%; width:15%; margin-bottom: 3%" />

                    <br />


                    <h1 class="font-weight-bolder" style="color: #16224D; font-size: 2rem">Empower Refugee Women Entrepeneurs</h1>
                    <hr class="new4" style="margin-top: 3%; margin-bottom: 3%">
                </div>

                <div class="col-lg-10 align-self-baseline">
                    <p class="font-weight-bold" id="slogan" style="font-family: Montserrat, Black; color: #16224D; font-size: 1.22rem">We support Australia's next entrepreneurs in hairdressing and food industry</p>
                    <br />
                    <a id="landingStart" style="width: 40%; height: 75px; font-size: 2rem; padding: 1.5%" class="btn btn-primary btn-xl js-scroll-trigger" href="/Home/BusinessSelection"
                       onmouseover="$(this).css('background-color', '#D4AF37')" onmouseout="$(this).css('background-color', '#16224D')">Start</a>
                </div>
            </div>
        </div>

        <a href="#about"><div><img id="table" src="~/Content/assets/img/scrolldown_latest.png" class="img-responsive" style="width: 5%; height: 5%; margin-left:47.5%; margin-top:-4%; margin-bottom: 1%" onmouseover="$(this).css('border-color', '#ddc061')" onmouseout="$(this).css('border-color', 'black')" /></div></a>


    </header>

    <!-- About Section -->
    <section class="page-section" style="background-color: white" id="about">
        @*<div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">We've got what you need!</h2>
                    <hr class="divider light my-4">
                    <p class="text-white-50 mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
                </div>
            </div>
        </div>*@

        <hr class="d-lg-block" />


        <div class="container">
            <h2 class="text-center mt-0">Do you know?</h2>
            <hr class="divider my-4">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Up to Date</h3>
                        <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Ready to Publish</h3>
                        <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Made with Love</h3>
                        <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                    </div>
                </div>
            </div>

            <hr class="d-lg-block" />


            <a href="#services"><div><img id="table" src="~/Content/assets/img/scrolldown_latest.png" class="img-responsive" style="width: 5%; height: 5%; margin-left:47.5%; margin-top:5%; margin-bottom: 1%" onmouseover="$(this).css('border-color', '#ddc061')" onmouseout="$(this).css('border-color', 'black')" /></div></a>

        </div>



    </section>

    <!-- Services Section -->
    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">At Your Service</h2>
            <hr class="divider my-4">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Sturdy Themes</h3>
                        <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Up to Date</h3>
                        <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Ready to Publish</h3>
                        <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Made with Love</h3>
                        <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="card col-sm-4">
                    <img class="card-img-top" src="~/Content/assets/portfolio/fullsize/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Test Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button class="btn btn-primary" style="background-color:#16244D; border-color:#16244D;" onclick="window.location.href='/Home/BusinessSelection'">Continue</button>
                    </div>
                </div>

                <div class="card col-lg-4">
                    <img class="card-img-top" src="~/Content/assets/portfolio/fullsize/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button class="btn btn-primary" style="background-color:#16244D; border-color:#16244D;" onclick="window.location.href='/Home/BusinessSelection'">Continue</button>
                    </div>
                </div>

                <div class="card col-lg-4">
                    <img class="card-img-top" src="~/Content/assets/portfolio/fullsize/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button class="btn btn-primary" style="background-color:#16244D; border-color:#16244D;" onclick="window.location.href='/Home/BusinessSelection'">Continue</button>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <br />

        @*<div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="~/Content/assets/portfolio/fullsize/1.jpg">
                            <img class="img-fluid" src="~/Content/assets/portfolio/thumbnails/1.jpg" alt="">
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a class="portfolio-box" href="~/Content/assets/portfolio/fullsize/2.jpg">
                            <img class="img-fluid" src="~/Content/assets/portfolio/thumbnails/2.jpg" alt="">
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a class="portfolio-box" href="~/Content/assets/portfolio/fullsize/3.jpg">
                            <img class="img-fluid" src="~/Content/assets/portfolio/thumbnails/3.jpg" alt="">
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a class="portfolio-box" href="~/Content/assets/portfolio/fullsize/4.jpg">
                            <img class="img-fluid" src="~/Content/assets/portfolio/thumbnails/4.jpg" alt="">
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="~/Content/assets//portfolio/fullsize/5.jpg">
                            <img class="img-fluid" src="~/Content/assets//portfolio/thumbnails/5.jpg" alt="">
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="~/Content/assets/portfolio/fullsize/6.jpg">
                            <img class="img-fluid" src="~/Content/assets/portfolio/thumbnails/6.jpg" alt="">
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>*@
    </section>

    <!-- Call to Action Section -->
    <section class="page-section bg-dark text-white">
        <div class="container text-center">
            <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
            <a class="btn btn-light btn-xl" href="https://startbootstrap.com/themes/creative/">Download Now!</a>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Let's Get In Touch!</h2>
                    <hr class="divider my-4">
                    <p class="text-muted mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center">
                    <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                    <div>+1 (202) 555-0149</div>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <!-- Make sure to change the email address in anchor text AND the link below! -->
                    <a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-light py-5">
        <div class="container">
            <div class="small text-center text-muted">Copyright &copy; 2019 - Start Bootstrap</div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Content/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Content/assets/js/creative.min.js"></script>

</body>

</html>
