
    @{
        ViewBag.Title = "Welcome to Demeter";
        Layout = null;
    }


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="~/Content/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/assets/img/favicon.ico" type="image/x-icon">

    <title>Welcome to Demeter</title>

    <!-- Font Awesome Icons -->
    <link href="~/Content/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Card css -->
    <link href="~/Content/assets/css/card.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/popupsupport.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="~/Content/assets/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="~/Content/assets/css/creative.min.css" rel="stylesheet">

    <!-- Font-family google font api -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat">

    <style>
        a, p, h1, h2, h3, h4, h5, h6, div, header, body, button, ul, li {
            font-family: 'Montserrat', light;
            font-size: 1.5rem;
        }

        #landingStart {
            background-color: #16224D;
            font-family: Montserrat, light;
        }

        #slogan {
            font-family: Montserrat, Bold;
        }

        hr.new4 {
            border: 1.8px solid black;
            border-radius: 20%;
            width: 5%
        }

        .centered {
            position: relative; /* or absolute */
            margin-top: 1%;
            left: 45%;
        }

        .btn-primary {
            background-color: #16224D;
        }
    </style>

</head>

<body id="page-top" style="background-color:  #F0F4FF">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 col-xs-12" id="mainNav" style="width: 100%; background-color: #16224D">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" style="font-size:1.1rem; font-family: Montserrat, SemiBold; font-weight: bolder;
             color: white" onmouseover="$(this).css('color', '#D4AF37')" onmouseout="$(this).css('color', 'white')"
               href="/Home/LandingPage">Demeter</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0" style="color: white">
                    <li class="nav-item">
                        <a id="burak" class="nav-link js-scroll-trigger" style="font-size:1rem; font-family: Montserrat, light;
                           color: white" onmouseover="$(this).css('color', '#D4AF37')" onmouseout="$(this).css('color', 'white')"
                           href="/Home/BusinessSelection">Business Selection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="font-size:1rem; font-family: Montserrat, light;
                        color: white" onmouseover="$(this).css('color', '#D4AF37')" onmouseout="$(this).css('color', 'white')"
                           href="/Home/CuisineSelection">Food Industry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="font-size:1rem; font-family: Montserrat, light;
                        color: white" onmouseover="$(this).css('color', '#D4AF37')" onmouseout="$(this).css('color', 'white')"
                           href="/Home/PreferenceHD">Hairdressing Industry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="font-size:1rem; font-family: Montserrat, light;
                        color: white" onmouseover="$(this).css('color', '#D4AF37')" onmouseout="$(this).css('color', 'white')"
                           href="/Home/Supporting">Supporting Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="font-size:1rem; font-family: Montserrat, light;
                        color: white" onmouseover="$(this).css('color', '#D4AF37')" onmouseout="$(this).css('color', 'white')"
                           href="/">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Masthead -->

    <section class="page-section" id="xxx" style="background-color: #F0F4FF; width: 100%; margin-top: 0%">
        <div class="container col-lg-12">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10">

                    <img src="~/Content/assets/img/demeter_logo_latest.png" class="logo" id="logoDemeter" style="position:center; height:15%; width:15%; margin-bottom: 3%" />

                    <br />


                    <h1 class="font-weight-bolder" style="color: #16224D; font-size: 2rem">Empower Refugee Women Entrepeneurs</h1>
                    <hr class="new4" style="margin-top: 3%; margin-bottom: 3%">
                </div>

                <div class="col-lg-10 align-self-baseline">
                    <p class="font-weight-bold" id="slogan" style="font-family: Montserrat, Black; color: #16224D; font-size: 1.10rem">We support Refugee Women Entrepreneurs finding the right suburb for Hairdressing and Restaurant business</p>
                    <br />
                    <a id="landingStart" style="width: 40%; height: 75px; font-size: 2rem; padding: 1.5%; background-color: #16224D" class="btn btn-primary btn-xl js-scroll-trigger" href="/Home/BusinessSelection"
                       onmouseover="$(this).css('background-color', '#D4AF37')" onmouseout="$(this).css('background-color', '#16224D')">Start</a>
                </div>
            </div>
        </div>

        <a href="#about"><div><img id="table" src="~/Content/assets/img/scrolldown_latest.png" class="img-responsive" style="width: 5%; height: 5%; margin-left:47.5%; margin-top:4%; margin-bottom: 1%" onmouseover="$(this).css('border-color', '#ddc061')" onmouseout="$(this).css('border-color', 'black')" /></div></a>


    </section>



    <!-- About Section -->
    <section class="page-section" style="background-color: #F0F4FF; width:100%; margin-top: -6%" id="about">

        <hr class="d-lg-block" />

        <br />

        <div class="container container col-lg-12">
            <h2 class="text-center mt-0" style="font-weight: 600; color: #16224D; margin-top: -50%">Did you know?</h2>
            @*<hr class="new4" style="margin-top: 3%; margin-bottom: 3%">*@
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <img id="table" src="~/Content/assets/img/19percent.png" class="img-responsive" style="width: 45%; height: 45%; margin-top:-4%; margin-bottom: 1%" />
                        <p style="font-weight: 600; color: #16224D">Refugee women start a business within 4 years of arrival.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <img id="table" src="~/Content/assets/img/home_2x.png" class="img-responsive" style="width: 22%; height: 22%; margin-top:-1.7%; margin-bottom: 1%" />
                        <p style="margin-top: 6%; font-weight: 600; color: #16224D">Choosing a location is an important decision for setting up business.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">

                        <img id="table" src="~/Content/assets/img/children.png" class="img-responsive" style="width: 28%; height: 28%; margin-top:0; margin-bottom: 1%" />
                        <img id="table" src="~/Content/assets/img/Dependent_children.png" class="img-responsive" style="width: 28%; height: 28%; margin-top:0; margin-bottom: 1%" />
                        <p style="margin-top: 6%; font-weight: 600; color: #16224D">Family needs are important in their entrepreneurial decisions.</p>
                    </div>
                </div>
            </div>


            <br />

            <hr class="d-lg-block" />
        </div>

        <div class="container">
            <br />
            <br />
            <img id="table" src="~/Content/assets/img/there_are.png" class="img-responsive" style="width: 85%; height: 85%; margin-top:-4%; margin-bottom: 1%; margin-left: 7%" />
            <img id="table" src="~/Content/assets/img/300_big.png" class="img-responsive" style="width: 15%; height: 15%; margin-top:-10%; margin-bottom: 1%; margin-left: 22%" />

            @*<hr class="new4" style="margin-top: 3%; margin-bottom: 3%">*@
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="row">
                            <img id="table" src="~/Content/assets/img/area1.png" class="img-responsive" style="width: 15%; height: 15%; margin-left: 62%" />
                        </div>
                        <div class="row">
                            <img id="table" src="~/Content/assets/img/area2.png" class="img-responsive" style="width: 50%; height: 50%; margin-left: 47%; margin-top: 4%" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="row">
                            <img id="table" src="~/Content/assets/img/earn1.png" class="img-responsive" style="width: 12%; height: 12%; margin-left: 52%" />
                        </div>
                        <div class="row">
                            <img id="table" src="~/Content/assets/img/earn2.png" class="img-responsive" style="width: 50%; height: 50%; margin-left: 35%; margin-top: 4%" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="row">
                            <img id="table" src="~/Content/assets/img/train1.png" class="img-responsive" style="width: 12%; height: 12%; margin-left: 32%" />
                        </div>
                        <div class="row">
                            <img id="table" src="~/Content/assets/img/train2.png" class="img-responsive" style="width: 50%; height: 50%; margin-left: 15%; margin-top: -5%" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="mt-5">
                        <div class="row">
                            <img id="table" src="~/Content/assets/img/schools.png" class="img-responsive" style="width: 25%; height: 25%; margin-left: 65%" />
                        </div>
                        @*<div class="row">
                                <img id="table" src="~/Content/assets/img/train2.png" class="img-responsive" style="width: 25%; height: 30%; margin-left: 57%; margin-top: 2%" />
                            </div>*@
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mt-5">
                        <div class="row">
                            <img id="table" src="~/Content/assets/img/child1.png" class="img-responsive" style="width: 25%; height: 25%; margin-left: 20%" />
                        </div>
                        @*<div class="row">
                                <img id="table" src="~/Content/assets/img/area2.png" class="img-responsive" style="width: 27%; height: 32%; margin-left: 12%; margin-top: 2%" />
                            </div>*@
                    </div>
                </div>

            </div>

            <br />
            <br />

            <div class="row col-lg-12">
                <a href="#funding"><img id="table" src="~/Content/assets/img/where_button.png" class="img-responsive" style="width: 50%; height: 100%; margin-left: 30%" /></a>
            </div>

            <hr class="d-lg-block" />
        </div>
    </section>

    <!-- Portfolio Section -->
    <section class="page-section" id="funding" style="background-color: #F0F4FF; width: 100%; margin-top: -12%">
        <div class="container col-lg-12">
            <br />
            <p class="text-center font-weight-bold">We help you to find a suitable place to start a business with ease.</p>
            <div class="row">
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a href="/Home/CuisineSelection">
                            <div class="card--display">
                                <img id="table" src="~/Content/assets/img/foodLand.png" class="img-responsive" style="width: 50%; height: 50%; margin-left: 25%; margin-top: 5%" />
                                <h3 class="text-center" style="font-weight: bold; margin-top: 15%">Food Industry</h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">Food Industry</h4>
                                <p style="font-size: medium">Snapshot of existing market condition in three types of cuisines. Information about schools, childcare facilities, legal services, and public transport.</p>
                                <p class="link">Go</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a href="/Home/PreferenceHD">
                            <div class="card--display">
                                <img id="table" src="~/Content/assets/img/hairLand.png" class="img-responsive" style="width: 50%; height: 50%; margin-left: 25%; margin-top: 5%" />
                                <h3 class="text-center" style="font-weight: bold; margin-top: 15%">Hairdressing Industry</h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">Hairdressing Industry</h4>
                                <p style="font-size: medium">Snapshot of existing market condition in three types of cuisines. Information about schools, childcare facilities, legal services, and public transport.</p>
                                <p class="link">Go</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a href="/Home/Supporting">
                            <div class="card--display">
                                <img id="table" src="~/Content/assets/img/supportLand.png" class="img-responsive" style="width: 50%; height: 50%; margin-left: 25%; margin-top: 15%" />
                                <h3 class="text-center" style="font-weight: bold; margin-top: 20%">Supporting Information</h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">Supporting Information</h4>
                                <p style="font-size: medium">Grants and Fundings, Accelerators and Incubators Programs that are specifically designed for the refugee entrepreneurs who are seeking to open their business.</p>
                                <p class="link">Go</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
            </div>
            <hr class="d-lg-block" />
        </div>
    </section>

    <!-- Footer -->
    <footer class="col-lg-12" style="background-color: #F0F4FF; height: 100px">
        <div class="container">
            <br />
            <div class="small text-center font-weight-bold" style="color: #16224D">Copyright &copy; JUP1T0R 2019 / Demeter - Made for strong women</div> 
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Content/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Content/assets/js/creative.min.js"></script>

</body>

</html>
