
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Demeter Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/assets/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/assets/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/assets/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/assets/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/assets/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/assets/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/assets/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/assets/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/assets/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Content/assets/login/css/main.css">
    <!--===============================================================================================-->
    <!-- Font-family google font api -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat">

    <style>
        a, p, h1, h2, h3, h4, h5, h6, div, header, body, button, ul, li, span {
            font-family: 'Montserrat', light;
        }
    </style>

</head>
<body style="background-color: #666666;">



    <div class="limiter">


        <div class="container-login100">



            <div class="wrap-login100">




                <form name="login" class="login100-form validate-form">

                    <br />
                    <br />
                    <div class="row">
                        <img src="~/Content/assets/img/demeter_logo_latest.png" class="logo" id="logoDemeter" style="position:center; height:25%; width:25%; margin-top: -20%; margin-left: 35%" />
                    </div>

                    <br />

                    <span class="login100-form-title p-b-43" style="font-family: 'Montserrat', light;">
                        Sign In
                    </span>


                    <div class="wrap-input100 validate-input" data-validate="Username is required">
                        <input class="input100" type="text" name="userid">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Username</span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pswrd">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                    </div>
                    <br />
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" onclick="check(this.form)" value="Login">
                            Login
                        </button>
                    </div>
                </form>

                <div class="login100-more" style="background-image: url('/Content/assets/login/images/bg-01.jpg');">
                </div>
            </div>
        </div>
    </div>

    <script language="javascript">
        function check(form)/*function to check userid & password*/ {
            /*the following code checkes whether the entered userid and password are matching*/
            if (form.userid.value == "refugee" && form.pswrd.value == "woman") {
                window.close();
                window.open('/Home/LandingPage')/*opens the target page while Id & password matches*/
               
            }
        }
    </script>

    <!--===============================================================================================-->
    <script src="/Content/assets/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/assets/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/assets/login/vendor/bootstrap/js/popper.js"></script>
    <script src="/Content/assets/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/assets/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/assets/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="/Content/assets/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/assets/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/assets/login/js/main.js"></script>

</body>
</html>