

@{
    ViewBag.Title = "Middle Eastern Cuisine";
    Layout = "~/Views/Shared/_LayoutDemeter.cshtml";
    Styles.Render("~/Content/Site.css");
}

<style>
    #prev, #next {
        padding: 6px;
        background-color: black;
        border-radius: 40px;
        width: 15%;
    }

        #prev:hover, #next:hover {
            background: #D4AF37;
        }
</style>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

<br />
<div class="container">
    <br />
    <h3 class="text-center"><b>Explore Suburbs in Greater Melbourne suitable for Middle Eastern Cuisine</b></h3>

    <div class="row line">
        <h4 style="font-size:1.3rem" class="col-xs-3 stepText2"><b>Business Selection</b></h4>
        <h4 style="font-size:1.3rem" class="col-xs-3 stepText2"><b>Cuisine Selection</b></h4>
        <h4 style="font-size:1.19rem" class="col-xs-3 stepText2"><b>Preference Middle Eastern Cuisine</b></h4>
        <h4 style="font-size:1.3rem" class="col-xs-3 stepText2"><b>Search Suburb of your choice</b></h4>
    </div>

    <div class="row">
        <a href="/Home/BusinessSelection"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>
        <a href="/Home/CuisineSelection"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>
        <a href="/Home/PreferenceME"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></></div></a>
        <a href="/Home/MiddleEasternCuisine"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></></div></a>
    </div>
</div>

<br />
<!-- Map Explanation -->
<p class="text-center" style="margin: 1% 1%; font-size: small">
    Please use your mouse to move the cursor on the map to select the suburb of your choice. Please click on a suburb to find more details.
</p>

<!-- Map -->
<div class="col-lg-12" style="margin-bottom: 0%">
    <div class="map-responsive embed-responsive embed-responsive-16by9">
        <iframe class="col-xs-12 embed-responsive-item" style="width:100%; height:710px; margin-left: 0%" src="https://tongguoshuanlou.shinyapps.io/Default_Map_ME/" allowfullscreen> </iframe>
    </div>
</div>
<div style="text-align:center">
    <a href="/Home/PreferenceME"><div id="prev">BACK TO PREFERENCES</div></a>
</div>
<br />
<br />

<!-- Progress Bar -->
<script>
    $('document').ready(function () {
        var count = 0;
        $('.step').each(function () {
            count++;

        });

        var i = 0;
        //Next
        $('#next').on('click', function () {
            if (count > i + 1) {
                i++;
                $('.active').removeClass('active');
                $('.step').eq(i).addClass('active');
            }
        });
        //Back
        $('#prev').on('click', function () {
            if (i > 0) {
                i--;
                $('.active').removeClass('active');
                $('.step').eq(i).addClass('active');
            }
        });
    });
</script>

