
@{
    ViewBag.Title = "Preference Lebanese Cuisine";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Styles.Render("~/Content/Site.css");

}

<style>

    .column {
        width: 100%;
    }

    .image-wrapper {
        position: relative;
        width: 250px;
    }

        .image-wrapper p {
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            border: 1px solid #FFF;
            width: 218px;
            color: #FFF;
            margin: 5px;
        }

    #tr {
        border: 2px solid #021a40;
        padding: 4px;
        background-color: black;
        border-radius: 70px
    }

    #pref {
        padding: 6px;
        background-color: black;
        border-radius: 40px;
        color: white;
        width: 35%;
    }

    #prev {
        padding: 6px;
        height: 70px;
        background-color: #E8E8E8;
        color: #16224D;
        border-radius: 40px;
        width: 50%;
    }

        #prev:hover, #next:hover {
            background: #D4AF37;
        }

    #pref:hover {
        background: #D4AF37;
    }


    hr.new4 {
        width: 6%;
        border: 2px solid black;
        border-radius: 50px;
    }
</style>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />


<div class="container" style="margin-top:5%">

    <div class="row line">
        @*<h4 class="col-xs-4 stepText2"><img style="width:15%; height:10%" src="~/Content/assets/img/rightArrow.png" /></h4>*@
        <h4 class="col-xs-1 stepText2"></h4>
        <h4 style="font-size:1.7rem; margin-top:2%" class="col-xs-3 stepText2"><b>Business Selection</b></h4>
        <h4 style="font-size:1.7rem; margin-top:2%" class="col-xs-3 stepText2"><b>Cuisine Selection</b></h4>
        <h4 style="font-size:1.7rem; margin-top:2%" class="col-xs-4 stepText2"><b>Preference Lebanese Cuisine</b></h4>

        @*<h4 class="col-xs-3 stepText2"><b>Cuisine Selection</b></h4>*@
        <h4 class="col-xs-1 stepText2"></h4>
    </div>

    <div class="row">
        @*<a href="/Home/Welcome"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#90EE90')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>*@
        @*<div class="col-xs-4"><div class="step step2 active" style="background-color:#D4AF37"></div></div>*@
        <a href="/Home/BusinessSelection"><div class="col-xs-4"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>
        <a href="/Home/CuisineSelection"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>
        <a href="/Home/PreferenceLB"><div class="col-xs-4"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>

        @*<a href="/Home/BusinessSelection"><div class="col-xs-5"><div class="step step2 active" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>*@
    </div>
</div>

<br />
<h1 style="color:black; font-size:2.5rem; text-align:center"><b>Want to find the Suitable Suburbs To Set Up a Lebanese Restaurant?</b></h1>
<h4 style="margin-top: 2%" class="text-center">Choose one of the options below of your interest to find more details!</h4>
<hr class="new4" style="margin-top: 3%"/>



<div style="text-align:center; width:100%">
    <a href="/Home/SliderLB"><div style="font-size:2.1rem; padding-top:1.6%" id="prev">Choose best suburbs in Lebanese Cuisine</div></a>
    @*<div id="nextDis" class="disabled">NEXT</div>*@
</div>

<div style="text-align:center; width:100%">
    <a href="/Home/LebaneseCuisine"><div style="font-size:2.1rem; padding-top:1.6%" id="prev">Explore suburbs in Lebanese Cuisine</div></a>
    @*<div id="nextDis" class="disabled">NEXT</div>*@
</div>


<div style="text-align:center; width:100%">
    <a href="/Home/CompareLB"><div style="font-size:2.1rem; padding-top:1.6%" id="prev">Compare Suburbs in Lebanese Cuisine</div></a>
    @*<div id="nextDis" class="disabled">NEXT</div>*@
</div>

<br />

<div style="text-align:center; margin-left:41%">
    <a href="/Home/CuisineSelection"><div id="pref">BACK TO CUISINE SELECTION</div></a>
    @*<div id="nextDis" class="disabled">NEXT</div>*@
</div>


<!-- Progress Bar -->
<script>
    $('document').ready(function () {
        var count = 0;
        $('.step').each(function () {
            count++;

        });

        var i = 0;
        //Next
        $('#next').on('click', function () {
            if (count > i + 1) {
                i++;
                $('.active').removeClass('active');
                $('.step').eq(i).addClass('active');
            }
        });
        //Back
        $('#prev').on('click', function () {
            if (i > 0) {
                i--;
                $('.active').removeClass('active');
                $('.step').eq(i).addClass('active');
            }
        });
    });

    $(".img-responsive").mouseover(function () {
        $(this).css("background-color", "blue");
    });
</script>




<!-- Modernizr runs quickly on page load to detect features -->
<script src="~/Content/assets/js/modernizr.js"></script>




