
@{
    ViewBag.Title = "Choose Hairdressing Business Preference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .column {
        width: 100%;
    }

    .image-wrapper {
        position: relative;
        width: 250px;
    }

        .image-wrapper p {
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            border: 1px solid #FFF;
            width: 218px;
            color: #FFF;
            margin: 5px;
        }

    #tr {
        border: 2px solid #021a40;
        padding: 4px;
        background-color: black;
        border-radius: 50px
    }

    #prev, #next {
        padding: 6px;
        background-color: black;
        border-radius: 40px;
        width: 15%;
    }

        #prev:hover, #next:hover {
            background: #D4AF37;
        }
</style>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

<br />
<div class="container">
    <br />
    <h3 class="text-center"><b>@ViewBag.sliderPageSubject</b></h3>

    <div class="row line">
        <h4 style="font-size:1.4rem" class="col-xs-3 stepText2"><b>Business Selection</b></h4>
        <h4 style="font-size:1.4rem" class="col-xs-3 stepText2"><b>Cuisine Selection</b></h4>
        <h4 style="font-size:1.2rem" class="col-xs-3 stepText2"><b>Preference Hairdressing Business</b></h4>
        <h4 style="font-size:1.4rem" class="col-xs-3 stepText2"><b>Choose your best suburbs</b></h4>
    </div>

    <div class="row">
        <a href="/Home/BusinessSelection"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>
        <a href="/Home/CuisineSelection"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>
        <a href="/Home/PreferenceHD"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></></div></a>
        <a href="/Home/SliderHD"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#16224D')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></></div></a>
    </div>
</div>

<br />

<p style="margin: 1% 1%; font-size: small">
    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
</p>

<div class="col-xs-12">
    <div class="map-responsive">
        <iframe class="col-xs-12" style="width:100%; height:740px" src="https://tongguoshuanlou.shinyapps.io/recommendation_preferences_setting/"> </iframe>
        <div style="text-align:center">
            <a href="/Home/PreferenceHD"><div id="prev">BACK TO PREFERENCES</div></a>
            @*<div id="nextDis" class="disabled">NEXT</div>*@
        </div>
    </div>
    <br />
    <br />
</div>

<!-- Progress Bar -->
<script>
    $('document').ready(function () {
        var count = 0;
        $('.step').each(function () {
            count++;

        });

        //var i = 0;
        ////Next
        //$('#next').on('click', function () {
        //    if (count > i + 1) {
        //        i++;
        //        $('.active').removeClass('active');
        //        $('.step').eq(i).addClass('active');
        //    }
        //});

        //Back
        $('#prev').on('click', function () {
            if (i > 0) {
                i--;
                $('.active').removeClass('active');
                $('.step').eq(i).addClass('active');
            }
        });
    });
</script>

