
@{
    ViewBag.Title = "Supporting Information";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="~/Content/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/assets/img/favicon.ico" type="image/x-icon">

    <title>Supporting Information</title>

    <!-- Font Awesome Icons -->
    <link href="~/Content/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Card css -->
    <link href="~/Content/assets/css/card.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/popupsupport.css" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="~/Content/assets/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="~/Content/assets/css/creative.min.css" rel="stylesheet">

    <!-- Font-family google font api -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat">

    <style>
        a, p, h1, h2, h3, h4, h5, h6, div, header, body, button, ul, li {
            font-family: 'Montserrat', light;
        }

        #landingStart {
            background-color: #16224D;
            font-family: Montserrat, light;
        }

        #slogan {
            font-family: Montserrat, Bold;
        }

        hr.new4 {
            border: 1.8px solid black;
            border-radius: 20%;
            width: 5%
        }

        .centered {
            position: relative; /* or absolute */
            margin-top: 1%;
            left: 45%;
        }

        #popClose {
            color: red;
            font-weight: bolder;
        }

        .page-section {
            background: #F0F4FF;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }

        #tr {
            border: 0.1px solid #021a40;
            padding: 4px;
            background-color: #16224D;
            border-radius: 50px
        }

        #scroll {
            position: fixed;
            right: 10px;
            bottom: 10px;
            cursor: pointer;
            width: 50px;
            height: 50px;
            background-color: #16224D;
            text-indent: -9999px;
            display: none;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            border-radius: 60px
        }

            #scroll span {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -8px;
                margin-top: -12px;
                height: 0;
                width: 0;
                border: 8px solid transparent;
                border-bottom-color: #ffffff;
            }

            #scroll:hover {
                background-color: #D4AF37;
                opacity: 1;
                filter: "alpha(opacity=100)";
                -ms-filter: "alpha(opacity=100)";
            }

    </style>

</head>

<body id="page-top" style="background-color:  #F0F4FF">

    <a href="#" id="scroll" style="display: none;"><span></span></a>

    <div id="myModal1" class="modal fade" style="margin-top: 10%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="popClose" class="close text-center" type="button" style="margin-right: 3%; font-weight: bolder" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <div class="popup">
                        <h2 class="text-center">Thrive Refugee Enterprise</h2>
                        <p class="text-justify" style="margin: 5%; font-size: 1rem">At Thrive, we don’t see our clients as refugees and asylum seekers – we see them as Australia’s next entrepreneurs. Because even though they may arrive with just the clothes on their backs, they rarely arrive empty-handed: they bring with them a wealth of experience, skills, innovative ideas and the motivation to build fulfilling lives and livelihoods in a safe country. Thrive will help them realise their dreams by providing small business loans and support that enable them to start and grow successful businesses and become financially independent, while actively contributing to Australia’s economy and community life.</p>
                        <div class="text-center">
                            <a href="http://thriverefugeeenterprise.org.au/" target="_blank">Go to website</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal2" class="modal fade" style="margin-top: 10%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="popClose" class="close text-center" type="button" style="margin-right: 3%; font-weight: bolder" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <div class="popup">
                        <h2 class="text-center">Small Business Grants VIC</h2>
                        <p class="text-justify" style="margin: 5%; font-size: 1rem">
                            Support is available in a number of categories:
                            Start-up - supports new and creative small businesses in starting up. Grants up to $30,000 are available.
                            Business expansion - assist existing businesses that are introducing innovative services or products to grow. Grants of up to $30,000 are available.
                            Export - encourage and support businesses to enter and expand into new overseas markets. Applicants may apply under two sub-categories; new exporter and current exporter. Grants of up to $10,000 are available.
                        </p>
                        <div class="text-center">
                            <a href="https://www.business.gov.au/assistance/small-business-grants-vic" target="_blank">Go to website</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal3" class="modal fade" style="margin-top: 10%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="popClose" class="close text-center" type="button" style="margin-right: 3%; font-weight: bolder" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <div class="popup">
                        <h2 class="text-center">Many Rivers</h2>
                        <p class="text-justify" style="margin: 5%; font-size: 1rem">
                            Many Rivers Microfinance Limited (Many Rivers) is a not-for-profit organisation that supports aspiring business owners with microenterprise development support and access to finance in order to see the potential of people and communities realised.
                            Many Rivers was established in 2007 as a result of a series of pilot programs that were led by global microfinance leader Opportunity International Australia. Our operations commenced in Grafton NSW in 2008 and have since expanded to include 37 Microenterprise Development Managers in 29 locations across all states and territories in Australia.
                        </p>
                        <div class="text-center">
                            <a href="http://www.manyrivers.org.au/" target="_blank">Go to website</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal4" class="modal fade" style="margin-top: 10%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="popClose" class="close text-center" type="button" style="margin-right: 3%; font-weight: bolder" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <div class="popup">
                        <h2 class="text-center">ASRC</h2>
                        <p class="text-justify" style="margin: 5%; font-size: 1rem">
                            The ASRC Entrepreneurs Program builds on the patience and resilience of refugees and people seeking asylum to help them build the skills to become successful entrepreneurs, or create their own small business. Our participants are provided with a personalized program with access to business coaching, industry specialists, business services, funding and networks so they can decide whether the entrepreneurial path is right for them and if so, start the path to making their business dream a reality.
                        </p>
                        <div class="text-center">
                            <a href="https://www.asrc.org.au/entrepreneursprogram/" target="_blank">Go to website</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal5" class="modal fade" style="margin-top: 10%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="popClose" class="close text-center" type="button" style="margin-right: 3%; font-weight: bolder" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <div class="popup">
                        <h2 class="text-center">VicLaunch Grant</h2>
                        <p class="text-justify" style="margin: 5%; font-size: 1rem">
                            LaunchVic drives the startup ecosystem by investing in organisations (service providers) that will deliver quality programs to support Victorian startups and investors.
                            While we do not fund startups directly through our grant rounds, the programs we fund aim to provide the services needed to assist through your startup journey.
                            Our rounds target startup sector specialists who can deliver programs and support to Victorian startups and investors in the form of education, incubators, accelerators, mentoring, professional development and other programs.
                        </p>
                        <div class="text-center">
                            <a href="https://launchvic.org/funding" target="_blank">Go to website</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal6" class="modal fade" style="margin-top: 10%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="popClose" class="close text-center" type="button" style="margin-right: 3%; font-weight: bolder" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <div class="popup">
                        <h2 class="text-center">Victorian Women Trust</h2>
                        <p class="text-justify" style="margin: 5%; font-size: 1rem">
                            Our grants help women and girls thrive. Over the past 32 years, we have seen community projects take shape, grow and change lives — all through the power of targeted grant making.
                            We are one of Australia’s few grant-makers dedicated solely to women. Each year, we give to high impact initiatives through our Community Grants Program, reaching women and girls across Victoria. We also proudly honour the life and contribution of women through our Sub-Funds.
                        </p>
                        <div class="text-center">
                            <a href="https://www.vwt.org.au/victorian-womens-benevolent-trust/2019-small-grants-program-guidelines/" target="_blank">Go to website</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal7" class="modal fade" style="margin-top: 10%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="popClose" class="close text-center" type="button" style="margin-right: 3%; font-weight: bolder" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <div class="popup">
                        <h2 class="text-center">Stepping Stones</h2>
                        <p class="text-justify" style="margin: 5%; font-size: 1rem">
                            It also aims to teach business and government leaders about how micro-businesses help refugee and migrant women, and why communities need more of these small businesses.
                            A series of small business seminars are also open to all refugees and migrants (men and women) who are interested in starting a small business. These seminars explore the topics of finance, marketing and small business regulations.
                        </p>
                        <div class="text-center">
                            <a href="https://www.bsl.org.au/services/refugees-immigration-multiculturalism/stepping-stones/" target="_blank">Go to website</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal8" class="modal fade" style="margin-top: 10%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="popClose" class="close text-center" type="button" style="margin-right: 3%; font-weight: bolder" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <div class="popup">
                        <h2 class="text-center">Sister Works</h2>
                        <p class="text-justify" style="margin: 5%; font-size: 1rem">
                            SisterWorks evolved from a group founded by Luz Restrepo, a political refugee from Colombia. Luz arrived in Australia in 2010 with her life in tatters and spoke no English. “I felt like a nobody; frightened, isolated and disempowered.”
                            She soon discovered that she was not alone. Along with another 25 women experiencing similar challenges, she began to make and sell crafts around Melbourne. They understood that to support each other was also to strengthen each other.
                            The SisterWorks model was officially incorporated in May 2013 when a committee of volunteers joined them with legal, fund-raising, marketing and administrative skills, providing support and structure to the project.
                        </p>
                        <div class="text-center">
                            <a href="https://sisterworks.org.au/herstory/" target="_blank">Go to website</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal9" class="modal fade" style="margin-top: 10%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="popClose" class="close text-center" type="button" style="margin-right: 3%; font-weight: bolder" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <div class="popup">
                        <h2 class="text-center">Unbound</h2>
                        <p class="text-justify" style="margin: 5%; font-size: small">
                            Generation Launch is an innovative program that supports migrants, refugees and new Australians in joining the Victorian startup ecosystem — creating the next generation of successful high-growth ventures in Australia.
                            This program has three core intentions: to improve the success of migrant startups in Victoria and encourage more migrant entrepreneurs to launch their business ideas in the state; to improve outcomes for the wider Victorian startup ecosystem by supporting migrant entrepreneurs and startups in creating high-growth ventures; and to support the Victorian startup ecosystem in becoming a global leader for entrepreneurship, startups and innovation.
                            This program is supported by LaunchVic. ​LaunchVic works in partnership with entrepreneurs, industry, business, the community and our educational institutions to strengthen Victoria’s entrepreneurial and startup ecosystem.
                        </p>
                        <div class="text-center">
                            <a href="https://www.unbound.edu.au/launch.html" target="_blank">Go to website</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal10" class="modal fade" style="margin-top: 10%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="popClose" class="close text-center" type="button" style="margin-right: 3%; font-weight: bolder" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <div class="popup">
                        <h2 class="text-center">Space2b</h2>
                        <p class="text-justify" style="margin: 5%; font-size: 1rem">
                            A safe space where the local community, local designers and artists and newly arrived migrant can come together to acquire the business and creative skills, build relationships and make connections.
                            A training center to build creative, business and English-language skills.
                            A platform for independent designers to develop their business, their product, and to showcase, promote and sell their work."
                        </p>
                        <div class="text-center">
                            <a href="https://space2b.com.au/" target="_blank">Go to website</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal11" class="modal fade" style="margin-top: 10%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="popClose" class="close text-center" type="button" style="margin-right: 3%; font-weight: bolder" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <div class="popup">
                        <h2 class="text-center">Live In Melbourne</h2>
                        <p class="text-justify" style="margin: 5%; font-size: 1rem">
                            All the necessary thing required to start a business and to get official help from government website, authorised by the Australian government and provides all the required information in different languages to help guide people succeed in their dreams of becoming entrepreneurs and setting up small business.
                        </p>
                        <div class="text-center">
                            <a href="https://liveinmelbourne.vic.gov.au/do-business/business-advice-and-support" target="_blank">Go to website</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal12" class="modal fade" style="margin-top: 10%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="popClose" class="close text-center" type="button" style="margin-right: 3%; font-weight: bolder" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <div class="popup">
                        <h2 class="text-center">Hatch Quarter Playbook</h2>
                        <p class="text-justify" style="margin: 5%; font-size: 1rem">
                            Working on a new startup idea? This Startup Playbook is for you!
                            You will learn useful techniques to get yourself established, find network directories, and hear from other international entrepreneurs like yourself, who have found success in Australia.
                            This book takes you through the process of assembling your team, testing your ideas, the fundamentals of communicating and selling your idea.
                            We hope that this Playbook will not only help you excel in your startup journey here in Victoria but also to create valuable experiences with the community here.
                        </p>
                        <div class="text-center">
                            <a href="https://playbook.hatchquarter.com.au/" target="_blank">Go to website</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal13" class="modal fade" style="margin-top: 10%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="popClose" class="close text-center" type="button" style="margin-right: 3%; font-weight: bolder" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <div class="popup">
                        <h2 class="text-center">FreetoFood</h2>
                        <p class="text-justify" style="margin: 5%; font-size: small">
                            We run a dynamic training and professional development program that is delivered by credible and knowledgeable industry experts. We provide a nurturing and empowering work environment and build a strong and supportive community around each of our participants. In 2018 we provided over 4,000 hours of paid training, ran 362 life-changing events and distributed over $100,000 in wages to refugees and people seeking asylum.
                            Free to Feed’s advocacy is delivered through a number of food-oriented initiatives. We’re a mobile cooking school hosting classes and workshops, we run events, catering and immersive food experiences; we’re also home to a growing pantry stocked full of beautiful spices authentically blended by our cooks in residence.
                            What better place to celebrate traditions and memories, stories and new experiences than over a feasting table? After all, for every one of us, these things are so often inextricably linked to sharing food and cooking with friends and family.
                        </p>
                        <div class="text-center">
                            <a href="https://www.freetofeed.org.au/aboutus" target="_blank">Go to website</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal14" class="modal fade" style="margin-top: 10%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="popClose" class="close text-center" type="button" style="margin-right: 3%; font-weight: bolder" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <div class="popup">
                        <h2 class="text-center">Cultov8</h2>
                        <p class="text-justify" style="margin: 5%; font-size: 1rem">
                            We work with people from diverse cultural, language and faith backgrounds to assist them to develop their own businesses in Australia.
                            We do this by offering a range of business support weekend workshops, skills, networks and accelerator programs that intend to create or develop viable businesses.
                            We assist people to know what the next stepa are with their idea or business; how to 'pitch' their business; and introduce them to investors who may want to provide them with start up capital if they are ready for investment.
                        </p>
                        <div class="text-center">
                            <a href="http://www.cultov8.com/" target="_blank">Go to website</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal15" class="modal fade" style="margin-top: 10%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="popClose" class="close text-center" type="button" style="margin-right: 3%; font-weight: bolder" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <div class="popup">
                        <h2 class="text-center">YGAP</h2>
                        <p class="text-justify" style="margin: 5%; font-size: small">
                            YGAP is a not-for-profit organisation whose mission is to use entrepreneurship to help improve the lives of people living in disadvantage in a significant and measurable way. They have successfully run a world class accelerator program that has backed over 300 early stage impact ventures founded by locals in Africa, Asia and Australia. LaunchVic funding will allow YGAP to expand their program to create YGAP First Gens to support 36 startups led by new migrants or refugees. This program includes a series of workshops in Melbourne and rural centres to help build startups around problems affecting at risk or disadvantaged refugees and or migrants; an intensive early stage accelerator program; and incubator to provide additional support for ventures.
                        </p>
                        <div class="text-center">
                            <a href="https://ygap.org/firstgens/" target="_blank">Go to website</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 col-xs-12" id="mainNav" style="width: 100%; background-color: #16224D">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" style="font-size:1.4rem; font-family: Montserrat, SemiBold; font-weight: bolder;
             color: white" onmouseover="$(this).css('color', '#D4AF37')" onmouseout="$(this).css('color', 'white')"
               href="/Home/LandingPage">Demeter</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0" style="color: white">
                    <li class="nav-item">
                        <a id="burak" class="nav-link js-scroll-trigger" style="font-size:1rem; font-family: Montserrat, light;
                           color: white" onmouseover="$(this).css('color', '#D4AF37')" onmouseout="$(this).css('color', 'white')"
                           href="/Home/BusinessSelection">Business Selection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="font-size:1rem; font-family: Montserrat, light;
                        color: white" onmouseover="$(this).css('color', '#D4AF37')" onmouseout="$(this).css('color', 'white')"
                           href="/Home/CuisineSelection">Food Industry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="font-size:1rem; font-family: Montserrat, light;
                        color: white" onmouseover="$(this).css('color', '#D4AF37')" onmouseout="$(this).css('color', 'white')"
                           href="/Home/PreferenceHD">Hairdressing Industry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="font-size:1rem; font-family: Montserrat, light;
                        color: white" onmouseover="$(this).css('color', '#D4AF37')" onmouseout="$(this).css('color', 'white')"
                           href="#">Supporting Information</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead -->
    <section class="page-section" id="xxx" style="background-color: #F0F4FF; width: 100%; margin-top: 0%">
        <div class="container col-lg-12">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10">

                    @*<img src="~/Content/assets/img/demeter_logo_latest.png" class="logo" id="logoDemeter" style="position:center; height:15%; width:15%; margin-bottom: 3%" />*@

                    <h1 class="font-weight-bolder text-center" style="color: #16224D; font-size: 2rem; margin-top: -5%">Supporting Information</h1>
                    <hr class="new4" style="margin-top: 3%; margin-bottom: 3%">
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            <br />
                            <a href="#funding" onmouseover="$(this).css('color', '#5067EB')" onmouseout="$(this).css('color', '#16224D')"><h5 class="font-weight-bolder" onmouseover="$(this).css('color', '#5067EB')" onmouseout="$(this).css('color', '#16224D')" style="color: #16224D; font-size: 1.2rem">Funding Program</h5></a>
                            <a href="#funding"><div><img id="tr" src="~/Content/assets/img/supportFund.jpg" class="img-responsive center" alt="fund" style="background-position: center; width: 80%; border-radius: 30px; width: 100%; height: 350px; margin-top: 10%" onmouseover="$(this).css('background-color', '#ddc061')" onmouseout="$(this).css('background-color', 'black')" /></div></a>
                        </div>
                        <div class="col-lg-6 text-center">
                            <br />
                            <a href="#incubator" onmouseover="$(this).css('color', '#5067EB')" onmouseout="$(this).css('color', '#16224D')"><h5 class="font-weight-bolder" onmouseover="$(this).css('color', '#5067EB')" onmouseout="$(this).css('color', '#16224D')" style="color: #16224D; font-size: 1.2rem">Incubators / Accelerators</h5></a>
                            <a href="#incubator"><div><img id="tr" src="~/Content/assets/img/supportAccel.jpg" class="img-responsive center" alt="fund" style="background-position: center; width: 80%; border-radius: 30px; width: 100%; height: 350px; margin-top: 10%" onmouseover="$(this).css('background-color', '#ddc061')" onmouseout="$(this).css('background-color', 'black')" /></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Funding Section -->
    <section class="page-section" id="funding" style="background-color: #F0F4FF; width: 100%; margin-top: -5%">
        <div class="container col-lg-12">
            <h2 class="text-md-center mt-0" style="font-weight: bolder; color: #16224D">Funding Program</h2>
            <br />
            <p>These programs vary from Funding to Microfinance organizations, who are helping refugee women and new Australians to have access to finance and provide additional support in order to set up small scale or self-sustainable business.</p>
            <div class="row">
                <div class="card-container img-responsive">
                    <div class="card" style="height: 300px">
                        <a data-toggle="modal" data-target="#myModal1" href="#">
                            <div class="card--display">
                                <img src="http://thriverefugeeenterprise.org.au/wp-content/uploads/2017/05/logo-116x98.png" alt="Thrive Refugee Enterprise" style="background-position: center" class="center">
                                <h3 class="text-center" style="font-weight: bold; margin-top: 20%">Thrive Refugee Enterprise </h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">Thrive Refugee Enterprise </h4>
                                <p style="font-size: 12px">Thrive is a not-for-profit organisation established with the vital financial backing of Westpac, private donors and the generous support of leading companies such as Allianz, Deloitte, Gilbert & Tobin, KPMG, Korn Ferry, LOUD, Newgate and Equifax. Primary role is to provide microfinancing and business support that can help refugee entrepreneurs start and grow viable new businesses.</p>
                                <p class="link">Click to see details</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a data-toggle="modal" data-target="#myModal2" href="#">
                            <div class="card--display">
                                <img src="~/Content/assets/img/Small business grants.png" alt="Small Business" style="background-position: center" class="center">
                                <h3 class="text-center" style="font-weight: bold; margin-top: 15%">Small Business Grants VIC</h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">Small Business Grants VIC</h4>
                                <p style="font-size: small">The City of Melbourne's Small business grants program helps innovative small businesses located in Melbourne start-up and grow. The program provides financial assistance to support market-ready products and services that will enhance Melbourne's innovative and creative reputation.</p>
                                <p class="link">Click to see details</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a data-toggle="modal" data-target="#myModal3" href="#">
                            <div class="card--display">
                                <img src="~/Content/assets/img/Many-Rivers-Logo-600x259.jpg" alt="Many Rivers" style="background-position: center; width: 60%; margin-top: 10%" class="center">
                                <h3 class="text-center" style="font-weight: bold; margin-top: 15%">Many Rivers</h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">Many Rivers</h4>
                                <p>Many Rivers Microfinance Limited (Many Rivers) is a not-for-profit organisation that supports aspiring business owners.</p>
                                <p class="link">Click to see details</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a data-toggle="modal" data-target="#myModal4" href="#">
                            <div class="card--display">
                                <img src="https://www.asrc.org.au/wp-content/uploads/2013/04/ASRC_Digital-Logo_Pos_Master_Horizontal_RGB.jpg" alt="ASRC" style="width: 73%; margin-top: 3.5%" class="center">
                                <h2 class="text-center" style="font-weight: bold; margin-top: 15%">ASRC</h2>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">ASRC</h4>
                                <p>The ASRC Entrepreneurs Program provides support in developing business plan to access small start-up business loans</p>
                                <p class="link">Click to see details</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a data-toggle="modal" data-target="#myModal5" href="#">
                            <div class="card--display">
                                <img src="~/Content/assets/img/Launch Vic.png" alt="VicLaunch" style="background-position: center; width: 70%; margin-top: 15%" class="center">
                                <h3 class="text-center" style="font-weight: bold; margin-top: 15%">VicLaunch Grant</h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">VicLaunch Grant</h4>
                                <p>Funding and Grants for the Focus groups helping the Victorian Startups.</p>
                                <p class="link">Click to see details</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a data-toggle="modal" data-target="#myModal6" href="#">
                            <div class="card--display">
                                <img src="~/Content/assets/img/VIC women trust.png" alt="VicLaunch" style="background-position: center; width: 30%; margin-top: 5%" class="center">
                                <h3 class="text-center" style="font-weight: bold; margin-top: 15%">Victorian Women Trust </h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">Victorian Women Trust </h4>
                                <p>Victorian Women Trust is an independent advocate for women and girls. Since 1985, VMT has been promoting true gender equality through annual grants, targeted research, education, policy submissions, events and more.</p>
                                <p class="link">Click to see details</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
            </div>
            <hr class="d-lg-block" />
        </div>
    </section>


    <!-- Incubator Section -->
    <section class="page-section" id="incubator" style="background-color: #F0F4FF; width: 100%; margin-top: -12%">
        <div class="container col-lg-12">
            <h2 class="text-md-center mt-0" style="font-weight: bolder; color: #16224D">Incubators / Accelerators</h2>
            <br />
            <p>Incubators/Accelerators Short-term programs to guide you through the startup process. Application deadline and selection criteria varies from program to program.</p>
            <div class="row">
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a data-toggle="modal" data-target="#myModal7" href="#">
                            <div class="card--display">
                                <img src="~/Content/assets/img/stepping stones.png" alt="Stepping" style="background-position: center; width: 40%; margin-top: 5%" class="center">
                                <h3 class="text-center" style="font-weight: bold; margin-top: 15%">Stepping Stones</h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">Stepping Stones</h4>
                                <p>Stepping Stones to Small Business aims to educate migrant and refugee women about money, and build women's understanding of how to start a small business in Australia.</p>
                                <p class="link">Click to see details</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a data-toggle="modal" data-target="#myModal8" href="#">
                            <div class="card--display">
                                <img src="~/Content/assets/img/SisterWorks.jpg" alt="sister" style="background-position: center; width: 75%; margin-top: 13%" class="center">
                                <h3 class="text-center" style="font-weight: bold; margin-top: 20%">Sister Works</h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">Sister Works </h4>
                                <p>Supporting women with migrant, asylum seeker or refugee backgrounds  to develop confidence and skills  to move into  the workforce</p>
                                <p class="link">Click to see details</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a data-toggle="modal" data-target="#myModal9" href="#">
                            <div class="card--display">
                                <img src="~/Content/assets/img/Unbound.jpg" alt="unbound" style="background-position: center; width: 35%; margin-top: 5%" class="center">
                                <h3 class="text-center" style="font-weight: bold; margin-top: 15%">Unbound</h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">Unbound</h4>
                                <p style="font-size: 12px">Unbound is a Victorian educational social enterprise that is passionate about creating a diverse startup sector through cross-cultural and engaging learning experiences. The Generation Launch, an innovative program to support migrants, refugees and new Australians to actively join the Victorian startup ecosystem, and support them to create the next generation of successful high-growth ventures.</p>
                                <p class="link">Click to see details</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a data-toggle="modal" data-target="#myModal13" href="#">
                            <div class="card--display">
                                <img src="~/Content/assets/img/Free to Food.png" alt="freeto" style="background-position: center; width: 35%; margin-top: 15%" class="center">
                                <h3 class="text-center" style="font-weight: bold; margin-top: 15%">FreetoFood</h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">FreetoFood</h4>
                                <p style="font-size: 12px">Free to Feed is a not-for-profit social enterprise in awe of the potential and spirit of refugees, people seeking asylum and new migrants – and appreciative of what they want to offer as new community members – we aim to champion their unique skills and individual stories.</p>
                                <p class="link">Click to see details</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a data-toggle="modal" data-target="#myModal11" href="#">
                            <div class="card--display">
                                <img src="~/Content/assets/img/live in melbourne.png" alt="live" style="background-position: center; width: 65%; margin-top: 20%" class="center">
                                <h3 class="text-center" style="font-weight: bold; margin-top: 15%">Live In Melbourne</h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">Live In Melbourne</h4>
                                <p>Business advice and support is available to help you successfully establish your business in Victoria.</p>
                                <p class="link">Click to see details</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a data-toggle="modal" data-target="#myModal12" href="#">
                            <div class="card--display">
                                <img src="~/Content/assets/img/HatchQuarter.png" alt="hatch" style="background-position: center; width: 65%; margin-top: 10%" class="center">
                                <h3 class="text-center" style="font-weight: bold; margin-top: 15%">Hatch Quarter Playbook</h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">Hatch Quarter Playbook</h4>
                                <p style="font-size: 11px">Hatch Quarter is a vibrant innovation hub and co-working space for entrepreneurs, startups and professionals. With LaunchVic funding, Hatch Quarter will create a playbook to help first generation migrants and refugees who seek to launch a startup and successfully integrate themselves into the Victorian startup ecosystem. The Hatch Quarter will also deliver a number of meetups to build a supportive community for international startup entrepreneurs.</p>
                                <p class="link">Click to see details</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a data-toggle="modal" data-target="#myModal10" href="#">
                            <div class="card--display">
                                <img src="~/Content/assets/img/space 2b.jpeg" alt="space2b" style="background-position: center; width: 40%; margin-top: 10%" class="center">
                                <h3 class="text-center" style="font-weight: bold; margin-top: 20%">Space2b</h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">Space2b</h4>
                                <p style="font-size: 12px">Space2b is an art and design of social enterprise. It has been established to support people seeking asylum, refugees and newly arrived migrants to become financially independent.  This is achieved through creative enterprise, workplace training and business mentoring. "An opportunity for newly arrived migrants to build on their traditional skills and knowledge,  gain confidence and take their first steps on the path to financial independence.</p>
                                <p class="link">Click to see details</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a data-toggle="modal" data-target="#myModal14" href="#">
                            <div class="card--display">
                                <img src="~/Content/assets/img/cultov8.png" alt="cultov" style="background-position: center; width: 65%; margin-top: 10%" class="center">
                                <h3 class="text-center" style="font-weight: bold; margin-top: 15%">Cultov8</h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">Cultov8</h4>
                                <p>Cultov8 is a blend of business start up weekends which are followed by a 12 week business accelerator program for first generation migrants, refugees and asylum seekers who want to continue to develop their business</p>
                                <p class="link">Click to see details</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card" style="height: 300px">
                        <a data-toggle="modal" data-target="#myModal15" href="#">
                            <div class="card--display">
                                <img src="~/Content/assets/img/YGAP.png" alt="ygap" style="background-position: center; width: 45%; margin-top: 25%" class="center">
                                <h3 class="text-center" style="font-weight: bold; margin-top: 25%">YGAP</h3>
                            </div>
                            <div class="card--hover">
                                <h4 style="margin-bottom: 8%">YGAP</h4>
                                <p>YGAP is a not-for-profit organisation whose mission is to use entrepreneurship to help improve the lives of people living in disadvantage in a significant and measurable way especially for refugees and or migrants. </p>
                                <p class="link">Click to see details</p>
                            </div>
                        </a>
                        <div class="card--border"></div>
                    </div>
                </div>
            </div>
            <hr class="d-lg-block" />
        </div>
    </section>

    <br />

    <!-- Footer -->
    <footer class="col-lg-11" style="background-color: #F0F4FF; font-weight: 900; height: 100px; width: 60%; font-size: 1.5rem">
        <a id="landingStart" style="width: 25%; height: 55px; font-size: 15px; padding-top: -1.5%; background-color: #16224D; margin-top: -15%; margin-left: 38%" class="btn btn-primary btn-xl js-scroll-trigger text-center" href="/Home/LandingPage"
           onmouseover="$(this).css('background-color', '#D4AF37')" onmouseout="$(this).css('background-color', '#16224D')">Back to Home</a>
        
        <div class="small text-center font-weight-bold" style="color: #16224D; text-align: left">Copyright &copy; JUP1T0R 2019 / Demeter - Made for strong women</div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Content/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Content/assets/js/creative.min.js"></script>
    <script src="~/Content/assets/js/creative.js"></script>


    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#scroll').fadeIn();
                } else {
                    $('#scroll').fadeOut();
                }
            });
            $('#scroll').click(function () {
                $("html, body").animate({ scrollTop: 0 }, 400);
                return false;
            });
        });
    </script>

</body>

</html>
