
@{
    ViewBag.Title = "Turkish Cuisine";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Styles.Render("~/Content/Site.css");
}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

<br />
<br />
<div class="container">
    <br />
    <h2 class="text-center"><b>Turkish Cuisine</b></h2>

    <div class="row line">
        <h4 class="col-xs-3 stepText2"><b>Get Started</b></h4>
        <h4 class="col-xs-3 stepText2"><b>Business Selection</b></h4>
        <h4 class="col-xs-3 stepText2"><b>Food Industry</b></h4>
        <h4 class="col-xs-3 stepText2"><b>Turkish Cuisine Map</b></h4>
    </div>

    <div class="row">
        <a href="/Home/Welcome"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', '#90EE90')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>
        <a href="/Home/BusinessSelection"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', 'black')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></div></a>
        <a href="/Home/CuisineSelection"><div class="col-xs-3"><div class="step step2" id="progressClick" onmouseover="$(this).css('background-color', 'black')" onmouseout="$(this).css('background-color', '#D4AF37')" style="background-color:#D4AF37"></div></></div></a>
        <div class="col-xs-3"><div class="step step2 active" style="background-color:#D4AF37"></div></div>
    </div>
</div>

<br />

<br />
<br />

<div class="col-lg-12">
    <div class="map-responsive">
        @*Turkish cuisine*@
        @*<div class='tableauPlaceholder' id='viz1554703843265' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Tu&#47;Turkish_15545463627990&#47;tkstory&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Turkish_15545463627990&#47;tkstory' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Tu&#47;Turkish_15545463627990&#47;tkstory&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>*@
        <iframe class="col-lg-12" style="width:100%; height:855px" src="https://tongguoshuanlou.shinyapps.io/test_app_v11_TK_legended/"> </iframe>

    </div>
</div>
<div style="text-align:center">
    <a href="/Home/CuisineSelection"><div id="prev">BACK</div></a>
    @*<div id="nextDis" class="disabled">NEXT</div>*@
</div>

<!-- Hairdressing Map -->
<script type='text/javascript'>var divElement = document.getElementById('viz1554703976737'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1080px'; vizElement.style.height = '917px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

<!-- Progress Bar -->
<script>
    $('document').ready(function () {
        var count = 0;
        $('.step').each(function () {
            count++;

        });

        var i = 0;
        //Next
        $('#next').on('click', function () {
            if (count > i + 1) {
                i++;
                $('.active').removeClass('active');
                $('.step').eq(i).addClass('active');
            }
        });
        //Back
        $('#prev').on('click', function () {
            if (i > 0) {
                i--;
                $('.active').removeClass('active');
                $('.step').eq(i).addClass('active');
            }
        });
    });
</script>

<!-- Turkish Cuisine -->
@*<script type='text/javascript'>var divElement = document.getElementById('viz1554703843265'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1080px'; vizElement.style.height = '917px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>*@


