@{
    ViewBag.Title = "Welcome to Demeter";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us" class="no-js">

<head>
    <meta charset="utf-8">
    <title>Welcome to Demeter</title>
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Madeon08">

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="~/Content/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/assets/img/favicon.ico" type="image/x-icon">

    <!-- ============== Resource style ============== -->
    <link rel="stylesheet" href="~/Content/assets/css/main.css">

    <link rel="stylesheet" href="~/Content/assets/css/youtube.css">

    <!-- Modernizr runs quickly on page load to detect features -->
    <script src="~/Content/assets/js/modernizr.js"></script>
</head>

<body>

    @*<div class="loading-part">
        <div class="loader-home">Loading...</div>
    </div>*@

    <div id="wrapper">
        <!-- YouTube link -->
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=34ZmKbe5oG4',containment:'body',autoPlay:false, mute:false, startAt:0, opacity:1}"></a>

         @*OPEN - Player control*@ 
        <nav id="player-nav">
            <ul>
                <li id="play" data-toggle="tooltip" data-placement="bottom" data-title="Play" data-trigger="hover">
                    <a onclick="$('#bgndVideo').playYTP(); $('#expandVideo').click()"><i class="fa fa-play"></i></a>
                </li>

                <li data-toggle="tooltip" data-placement="bottom" data-title="Pause" data-trigger="hover">
                    <a onclick="$('#bgndVideo').pauseYTP(); $('#compressVideo').click()"><i class="fa fa-pause"></i></a>
                </li>

                <li data-toggle="tooltip" data-placement="bottom" data-title="Stop" data-trigger="hover">
                    <a onclick="$('#bgndVideo').stopYTP()" href="/Home/Welcome"><i class="fa fa-stop"></i></a>
                </li>

                <li data-toggle="tooltip" data-placement="bottom" data-title="Mute" data-trigger="hover">
                    <a onclick="$('#bgndVideo').muteYTP()"><i class="fa fa-volume-off"></i></a>
                </li>

                <li data-toggle="tooltip" data-placement="bottom" data-title="Unmute" data-trigger="hover">
                    <a onclick="$('#bgndVideo').unmuteYTP()"><i class="fa fa-volume-up"></i></a>
                </li>


                <li id="fullScreen" class="full-play" data-toggle="tooltip" data-placement="bottom" data-title="Fullscreen" data-trigger="hover">
                    <a class="expand-player" id="expandVideo"><i class="fa fa-expand"></i></a>
                </li>

                <li id="exitFullScreen" class="comp-play display-none" data-toggle="tooltip" data-placement="bottom" data-title="Reduce" data-trigger="hover">
                    <a class="compress-player" id="compressVideo"; onclick="$('#fullScreen').show()"><i class="fa fa-compress"></i></a>
                </li>

            </ul>

            <br />
            <h6 style="width:auto" id="clickPlay"><i><b>Click Play to watch who we are!</b></i></h6>

        </nav>
        <!-- CLOSE - Player control -->

        <div id="main">

            <ul class="social-icons">
                <li>
                    <a href="#" onclick="$('#player-nav').hide()" class="about icon-popup icon ion"><i class="fa fa-info-circle"></i> <b></b></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>

            <!-- Header -->

        <header id="header">

            <br />
            <br />
            <img src="~/Content/assets/img/logoCircle.jpg" class="logo" style="position:center" />

            <h1>Empowering Refugee Women Entrepreneurs</h1>

            @*<p id="text-alert" class="animated-quick"></p>*@

            <br />
             
            <a href="/Home/BusinessSelection"><img src="~/Content/assets/img/getStartedV2.png" /></a>

            @*<input type="button" style="background-color:green" class="btn btn-primary btn-lg" value="Get Started"
                   onclick='window.location = "@Url.Action("BusinessSelection", "Home")";' />*@
            <br />

            <nav>
            <ul>
                <li>
                    @*<a href="#" class="about icon-popup icon ion-person-stalker"></a>
                    <br />
                    <h4 class="name">About us</h4>*@
                </li>

                @*<li>
                    <a href="#" class="photos icon-popup icon ion-images"></a>
                    <br />
                    <h4 class="name">Photos</h4>
                </li>*@
            </ul>
        </nav>

        </header>

        </div>

    </div>

    <div class="global-content">

        <div class="slider-nav">
            @*<a href="#" class="prev-button"><i class="fa fa-hand-o-left"></i></a>*@
            <a href="#" class="close-content"><h2><i class="icon ion-close-round"; onclick="$('#player-nav').show()"></i></h2></a>
            @*<a href="#" class="next-button"><i class="fa fa-hand-o-right"></i></a>*@
        </div>

        <section class="content-about slide">

            <div class="content-in ">
                <div class="content-table">
                    <div class="content-cell">
                        <div class="content-inner">

                            <div class="container-fluid">

                                <img src="~/Content/assets/img/teamLogo.jpg" alt="" class="logo" />

                                <h1>About Us</h1>

                                <span class="border"></span>

                                <p>
                                    Demeter a digital platform that supports refugee women with dependent children to start a business in the food and the hairdressing industry.

                                    Demeter is an information centre that shows the necessary insights for women refugees as business, market and demographic analysis among all Victoria, to help those refugees make decisions for both entrepreneurship and dwelling. Presently, entrepreneurial refugee women don’t find the right information and resources at the right time.
                                </p>

                                <div class="row contact-info">

                                    <div class="col-xs-12 col-sm-4 col-lg-4 contact-method">
                                        <i class="icon ion-ios-location-outline"></i>
                                        <p>
                                            <a href="https://goo.gl/maps/vZwE9ssBU7H2" target="_blank">
                                                900 Dandenong Rd<br>Caulfield East, VIC
                                            </a>
                                        </p>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-lg-4 contact-method">
                                        <i class="icon ion-ios-telephone-outline"></i>
                                        <i class="icon ion-social-skype"></i>
                                        <p>
                                            <a href="tel:+6141400910121111">(+61) 414-009-101</a><br>
                                            <a href="tel:+61222455421111">(+61) 222-12-02</a>
                                        </p>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-lg-4 contact-method">
                                        <i class="icon ion-ios-email-outline"></i>
                                        <p>
                                            <a href="mailto:your-email@good.com">business@demeter.com</a><br>
                                            <a href="mailto:your-email@good.com">support@demeter.com</a>
                                        </p>
                                    </div>

                                </div>

                                <!-- Contact form -->
                                @*<form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-lg-6">

                                            <!-- Full name -->
                                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                                <div class="form-group">
                                                    <input type="text" id="name" class="form form-control" placeholder="Write your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write your name'" name="name" data-name="Name" required>
                                                </div>
                                            </div>

                                            <!-- E-mail -->
                                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                                <div class="form-group">
                                                    <input type="email" id="email" class="form form-control" placeholder="Write your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write your email address'" name="email-address" data-name="Email Address" required>
                                                </div>
                                            </div>

                                            <!-- Subject -->
                                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                                <div class="form-group">
                                                    <input type="text" id="subject" class="form form-control" placeholder="Write the subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write the subject'" name="subject" data-name="Subject">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-lg-6">

                                            <!-- Message -->
                                            <div class="col-xs-12 col-sm-12 col-lg-12 no-padding">
                                                <div class="form-group">
                                                    <textarea id="text-area" class="form textarea form-control" placeholder="Your message here... 20 characters Min." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your message here... 20 characters Min.'" name="message" data-name="Text Area" required></textarea>
                                                </div>
                                            </div>

                                            <!-- Button submit -->
                                            <button type="submit" id="valid-form" class="btn btn-color">Send my Message</button>

                                        </div>
                                    </div>

                                </form>*@
                                <!-- /. Contact form -->

                                <div id="answer"></div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="content-message slide first">

            <div class="content-in ">
                <div class="content-table">
                    <div class="content-cell">
                        <div class="content-inner">

                            <div class="container">

                                <h1>We're Coming in</h1>

                                <span class="border"></span>

                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country...</p>

                                <div id="countdown_dashboard">

                                    <!-- Days / if you need only 2 figures for the day, delete the first line <div class="digit">0</div> -->
                                    <div class="dash-glob">
                                        <div class="dash days_dash">
                                            <div class="digit">0</div>
                                            <div class="digit">0</div>
                                            <div class="digit">0</div>
                                            <sup>Days</sup>
                                        </div>

                                    </div>

                                </div> <!-- .countdown_dashboard -->

                                <form action="~/Content/assets/php/notify-me.php" id="notifyMe" method="POST" class="news-form">

                                    <div class="form-group">
                                        <div class="controls">

                                            <input type="text" id="mail-sub" name="email" placeholder="Write your email to be alerted" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write your email to be alerted'" class="form-control email srequiredField">

                                            <button class="btn btn-lg submit">Subscribe</button>

                                        </div>
                                    </div>

                                </form>

                                <div class="block-message">
                                    <!-- OPEN - Newsletter message -->
                                    <div class="message">

                                        <p class="notify-valid"></p>

                                    </div> <!-- CLOSE - Newsletter message -->
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="content-photos slide last">

            <div class="content-in ">
                <div class="content-table">
                    <div class="content-cell">
                        <div class="content-inner">

                            <div class="container">

                                <h1>Photos of our strong women</h1>

                                <span class="border"></span>

                                <p>Lorem ipsum...</p>

                                <div class="photo-collection row">

                                    <div class="col-xs-12 col-sm-4 col-lg-4 photo-item">
                                        <a href="~/Content/assets/img/pict1.jpg" title="My Caption 1" class="swipebox">
                                            <figure>
                                                <img src="~/Content/assets/img/pict1-thumb.jpg" alt="" class="img-responsive" />
                                            </figure>
                                            <span class="text-open"></span>
                                        </a>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-lg-4 photo-item">
                                        <a href="~/Content/assets/img/pict2.jpg" title="My Caption 2" class="swipebox">
                                            <figure>
                                                <img src="~/Content/assets/img/pict2-thumb.jpg" alt="" class="img-responsive" />
                                            </figure>
                                            <span class="text-open"></span>
                                        </a>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-lg-4 photo-item">
                                        <a href="~/Content/assets/img/pict3.jpg" title="My Caption 3" class="swipebox">
                                            <figure>
                                                <img src="~/Content/assets/img/pict3-thumb.jpg" alt="" class="img-responsive" />
                                            </figure>
                                            <span class="text-open"></span>
                                        </a>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-lg-4 photo-item 4">
                                        <a href="~/Content/assets/img/pict4.jpg" title="My Caption" class="swipebox">
                                            <figure>
                                                <img src="~/Content/assets/img/pict4-thumb.jpg" alt="" class="img-responsive" />
                                            </figure>
                                            <span class="text-open"></span>
                                        </a>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-lg-4 photo-item 5">
                                        <a href="~/Content/assets/img/pict5.jpg" title="My Caption" class="swipebox">
                                            <figure>
                                                <img src="~/Content/assets/img/pict5-thumb.jpg" alt="" class="img-responsive" />
                                            </figure>
                                            <span class="text-open"></span>
                                        </a>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-lg-4 photo-item 6">
                                        <a href="~/Content/assets/img/pict6.jpg" title="My Caption" class="swipebox">
                                            <figure>
                                                <img src="~/Content/assets/img/pict6-thumb.jpg" alt="" class="img-responsive" />
                                            </figure>
                                            <span class="text-open"></span>
                                        </a>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <a href="#" class="about icon-popup icon ion-person-stalker, copyright" onclick="$('#player-nav').hide()"><b>About us</b></a> <nbsp></nbsp>
        <span class="copyright"> &copy; JUP1T0R 2019 - Made for strong women</span>
    </footer>

    <!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
    <!-- ********** Resources jQuery ********** -->
    <!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->
    <!-- * Libraries jQuery and Bootstrap - Be careful to not remove them * -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>

    <!-- Countdown -->
    <script src="~/Content/assets/js/jquery.lwtCountdown-1.0.js"></script>

    <!-- Newsletter plugin -->
    <script src="~/Content/assets/js/notifyMe.js"></script>

    <!-- Contact form verification -->
    <script src="~/Content/assets/js/contact-me.js"></script>

    <!-- Swipebox plugin -->
    <script src="~/Content/assets/js/jquery.swipebox.js"></script>

    <!-- YouTube plugin -->
    <script src="~/Content/assets/js/jquery.mb.YTPlayer.js"></script>

    <!-- Background plugin for mobile -->
    <script src="~/Content/assets/js/vegas.js"></script>

    <!-- Main JS -->
    <script src="~/Content/assets/js/main.js"></script>

    <script>

        $(document).ready(function () {
            $("#").click(function () {
                $("#clickPlay").hide();
            });
        });

        $(document).ready(function () {
            $("#fullScreen").click(function () {
                $("#clickPlay").hide();
            });
        });

        $(document).ready(function () {
            $("#fullScreen").hide();
            });

    </script>

</body>
</html>